body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10098_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:883px;
  height:343px;
}
#u10098 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:880px;
  height:340px;
}
#u10098_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10098_ann {
  border-width:0px;
  position:absolute;
  left:883px;
  top:6px;
  width:1px;
  height:1px;
}
#u10099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
}
#u10099 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:100px;
  height:16px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u10099_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u10100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
}
#u10100 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:300px;
  width:161px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
}
#u10100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u10100_ann {
  border-width:0px;
  position:absolute;
  left:444px;
  top:296px;
  width:1px;
  height:1px;
}
#u10101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
}
#u10101 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:300px;
  width:161px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
}
#u10101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u10101_ann {
  border-width:0px;
  position:absolute;
  left:653px;
  top:296px;
  width:1px;
  height:1px;
}
#u10102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:242px;
}
#u10102 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:48px;
  width:864px;
  height:242px;
}
#u10102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:15px;
}
#u10103 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:266px;
  width:30px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u10103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
