body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7722_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:993px;
  height:83px;
}
#u7722 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:990px;
  height:80px;
}
#u7722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
}
#u7723 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:40px;
  width:150px;
  height:19px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u7724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:31px;
}
#u7724 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:50px;
  width:150px;
  height:30px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7724_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u7726 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:100px;
  width:130px;
  height:197px;
}
#u7726_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:197px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:197px;
}
#u7728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:34px;
}
#u7728 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:33px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#868686;
  text-align:left;
}
#u7728_img.mouseOver {
}
#u7728.mouseOver {
}
#u7728_img.selected {
}
#u7728.selected {
}
#u7728_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u7729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:34px;
}
#u7729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:33px;
  width:130px;
  height:33px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#868686;
  text-align:left;
}
#u7729_img.mouseOver {
}
#u7729.mouseOver {
}
#u7729_img.selected {
}
#u7729.selected {
}
#u7729_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u7730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:34px;
}
#u7730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:130px;
  height:33px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#868686;
  text-align:left;
}
#u7730_img.mouseOver {
}
#u7730.mouseOver {
}
#u7730_img.selected {
}
#u7730.selected {
}
#u7730_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u7731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:34px;
}
#u7731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:99px;
  width:130px;
  height:33px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#868686;
  text-align:left;
}
#u7731_img.mouseOver {
}
#u7731.mouseOver {
}
#u7731_img.selected {
}
#u7731.selected {
}
#u7731_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u7732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:34px;
}
#u7732 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:132px;
  width:130px;
  height:33px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#868686;
  text-align:left;
}
#u7732_img.mouseOver {
}
#u7732.mouseOver {
}
#u7732_img.selected {
}
#u7732.selected {
}
#u7732_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u7733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:33px;
}
#u7733 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:165px;
  width:130px;
  height:32px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#868686;
  text-align:left;
}
#u7733_img.mouseOver {
}
#u7733.mouseOver {
}
#u7733_img.selected {
}
#u7733.selected {
}
#u7733_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u7734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:18px;
}
#u7734 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:104px;
  width:150px;
  height:17px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7734_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u7735_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:853px;
  height:5px;
}
#u7735 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:134px;
  width:850px;
  height:2px;
}
#u7735_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:231px;
}
#u7736 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:160px;
  width:1px;
  height:230px;
}
#u7736_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u7737 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:154px;
  width:79px;
  height:15px;
  font-size:12px;
}
#u7737_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u7738 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:150px;
  width:70px;
  height:22px;
}
#u7738_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u7738_input:disabled {
  color:grayText;
}
#u7739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u7739 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:184px;
  width:79px;
  height:15px;
  font-size:12px;
}
#u7739_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u7740 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:180px;
  width:210px;
  height:22px;
}
#u7740_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:22px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u7741 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:216px;
  width:79px;
  height:15px;
  font-size:12px;
}
#u7741_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u7742 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:212px;
  width:210px;
  height:22px;
}
#u7742_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:22px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7743 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:271px;
  width:120px;
  height:29px;
}
#u7743_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:29px;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7744 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:150px;
  width:490px;
  height:120px;
}
#u7745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:31px;
}
#u7745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
  font-family:'Gulim';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u7745_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:30px;
  word-wrap:break-word;
}
#u7746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:31px;
}
#u7746 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:0px;
  width:81px;
  height:30px;
  font-family:'Gulim';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u7746_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:67px;
  word-wrap:break-word;
}
#u7747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:31px;
}
#u7747 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:0px;
  width:207px;
  height:30px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u7747_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:193px;
  word-wrap:break-word;
}
#u7748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:31px;
}
#u7748 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:0px;
  width:61px;
  height:30px;
  font-family:'Gulim';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u7748_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:47px;
  word-wrap:break-word;
}
#u7749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
}
#u7749 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:0px;
  width:97px;
  height:30px;
  font-family:'Gulim';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u7749_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u7750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:31px;
}
#u7750 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:44px;
  height:30px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u7750_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:30px;
  word-wrap:break-word;
}
#u7751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:31px;
}
#u7751 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:30px;
  width:81px;
  height:30px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u7751_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:31px;
}
#u7752 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:30px;
  width:207px;
  height:30px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u7752_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:31px;
}
#u7753 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:30px;
  width:61px;
  height:30px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#3333FF;
  text-align:center;
}
#u7753_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:47px;
  word-wrap:break-word;
}
#u7754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
}
#u7754 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:30px;
  width:97px;
  height:30px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u7754_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:31px;
}
#u7755 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:44px;
  height:30px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u7755_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:30px;
  word-wrap:break-word;
}
#u7756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:31px;
}
#u7756 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:60px;
  width:81px;
  height:30px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u7756_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:31px;
}
#u7757 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:60px;
  width:207px;
  height:30px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u7757_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:31px;
}
#u7758 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:60px;
  width:61px;
  height:30px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#3333FF;
  text-align:center;
}
#u7758_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:47px;
  word-wrap:break-word;
}
#u7759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
}
#u7759 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:60px;
  width:97px;
  height:30px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u7759_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:31px;
}
#u7760 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:44px;
  height:30px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u7760_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:30px;
  word-wrap:break-word;
}
#u7761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:31px;
}
#u7761 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:90px;
  width:81px;
  height:30px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u7761_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:31px;
}
#u7762 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:90px;
  width:207px;
  height:30px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u7762_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:31px;
}
#u7763 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:90px;
  width:61px;
  height:30px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#FF0000;
  text-align:center;
}
#u7763_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:47px;
  word-wrap:break-word;
}
#u7764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
}
#u7764 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:90px;
  width:97px;
  height:30px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u7764_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7765 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:184px;
  width:69px;
  height:22px;
}
#u7765_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7766 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:214px;
  width:69px;
  height:22px;
}
#u7766_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7767 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:244px;
  width:69px;
  height:22px;
}
#u7767_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7768 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:184px;
  width:197px;
  height:22px;
}
#u7768_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:22px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7769 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:214px;
  width:197px;
  height:22px;
}
#u7769_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:22px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7770 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:244px;
  width:197px;
  height:22px;
}
#u7770_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:22px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u7771 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:185px;
  width:40px;
  height:20px;
  font-family:'Dotum';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u7771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:40px;
  word-wrap:break-word;
}
#u7772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u7772 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:185px;
  width:40px;
  height:20px;
  font-family:'Dotum';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u7772_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:40px;
  word-wrap:break-word;
}
#u7773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u7773 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:215px;
  width:40px;
  height:20px;
  font-family:'Dotum';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u7773_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:40px;
  word-wrap:break-word;
}
#u7774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u7774 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:215px;
  width:40px;
  height:20px;
  font-family:'Dotum';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u7774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:40px;
  word-wrap:break-word;
}
#u7775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u7775 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:245px;
  width:40px;
  height:20px;
  font-family:'Dotum';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u7775_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:40px;
  word-wrap:break-word;
}
#u7776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u7776 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:245px;
  width:40px;
  height:20px;
  font-family:'Dotum';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u7776_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:40px;
  word-wrap:break-word;
}
#u7777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:17px;
}
#u7777 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:440px;
  width:498px;
  height:16px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:center;
}
#u7777_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  word-wrap:break-word;
}
