body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1043px;
  height:543px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1040px;
  height:540px;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:31px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:37px;
  width:390px;
  height:30px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#666666;
  text-align:right;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:61px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:220px;
  height:60px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:216px;
  word-wrap:break-word;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:40px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:110px;
  width:450px;
  height:39px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:323px;
  height:283px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:230px;
  width:320px;
  height:280px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:34px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:327px;
  width:290px;
  height:33px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:20px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:241px;
  width:292px;
  height:19px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:333px;
  width:275px;
  height:25px;
}
#u155_input {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:25px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:34px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:409px;
  width:290px;
  height:33px;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:415px;
  width:275px;
  height:25px;
}
#u157_input {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:25px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:34px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:286px;
  width:290px;
  height:33px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:286px;
  word-wrap:break-word;
}
#u158_ann {
  border-width:0px;
  position:absolute;
  left:989px;
  top:282px;
  width:1px;
  height:1px;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:39px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:452px;
  width:184px;
  height:38px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:180px;
  word-wrap:break-word;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:39px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:452px;
  width:96px;
  height:38px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:31px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:267px;
  width:390px;
  height:30px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#BCBCBC;
  text-align:center;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:34px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:368px;
  width:290px;
  height:33px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:374px;
  width:275px;
  height:25px;
}
#u163_input {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:25px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
