body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:61px;
}
#u6878 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:990px;
  height:60px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6878_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:19px;
}
#u6879 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:17px;
  width:150px;
  height:18px;
  color:#FFFFFF;
  text-align:left;
}
#u6879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u6880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u6880 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:43px;
  width:64px;
  height:15px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6880_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u6881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:16px;
}
#u6881 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:14px;
  width:456px;
  height:15px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u6881_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  word-wrap:break-word;
}
#u6882 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:38px;
  width:806px;
  height:27px;
}
#u6882_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:27px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6883 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:3px;
  width:800px;
  height:21px;
}
#u6884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u6884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FEFB00;
}
#u6884_img.mouseOver {
}
#u6884.mouseOver {
}
#u6884_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u6885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u6885 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FEFB00;
}
#u6885_img.mouseOver {
}
#u6885.mouseOver {
}
#u6885_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u6886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u6886 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FEFB00;
}
#u6886_img.mouseOver {
}
#u6886.mouseOver {
}
#u6886_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u6887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u6887 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FEFB00;
}
#u6887_img.mouseOver {
}
#u6887.mouseOver {
}
#u6887_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u6888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u6888 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FEFB00;
}
#u6888_img.mouseOver {
}
#u6888.mouseOver {
}
#u6888_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u6889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u6889 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FEFB00;
}
#u6889_img.mouseOver {
}
#u6889.mouseOver {
}
#u6889_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u6890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u6890 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FEFB00;
}
#u6890_img.mouseOver {
}
#u6890.mouseOver {
}
#u6890_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u6891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u6891 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FEFB00;
}
#u6891_img.mouseOver {
}
#u6891.mouseOver {
}
#u6891_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u6893 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:134px;
  width:110px;
  height:214px;
}
#u6893_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:214px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6894 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:3px;
  width:104px;
  height:208px;
}
#u6895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:29px;
}
#u6895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:28px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u6895_img.mouseOver {
}
#u6895.mouseOver {
}
#u6895_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u6896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
}
#u6896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:104px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u6896_img.mouseOver {
}
#u6896.mouseOver {
}
#u6896_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u6897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
}
#u6897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:104px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u6897_img.mouseOver {
}
#u6897.mouseOver {
}
#u6897_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u6898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
}
#u6898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:104px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u6898_img.mouseOver {
}
#u6898.mouseOver {
}
#u6898_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u6899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
}
#u6899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:104px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u6899_img.mouseOver {
}
#u6899.mouseOver {
}
#u6899_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u6900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
}
#u6900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:148px;
  width:104px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u6900_img.mouseOver {
}
#u6900.mouseOver {
}
#u6900_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u6901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
}
#u6901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:178px;
  width:104px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u6901_img.mouseOver {
}
#u6901.mouseOver {
}
#u6901_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u6902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:46px;
}
#u6902 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:80px;
  width:110px;
  height:45px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u6902_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u6903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
}
#u6903 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:80px;
  width:170px;
  height:15px;
  font-family:'Helvetica';
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u6903_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u6904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:16px;
}
#u6904 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:110px;
  width:330px;
  height:15px;
  font-family:'Helvetica';
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u6904_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u6905 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:139px;
  width:621px;
  height:201px;
}
#u6906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:24px;
}
#u6906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:23px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6906_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:617px;
  word-wrap:break-word;
}
#u6907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:179px;
}
#u6907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:621px;
  height:178px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
}
#u6907_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:16px;
}
#u6908 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:169px;
  width:614px;
  height:15px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u6908_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  word-wrap:break-word;
}
#u6909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:16px;
}
#u6909 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:190px;
  width:614px;
  height:15px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u6909_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  word-wrap:break-word;
}
#u6910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:16px;
}
#u6910 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:211px;
  width:551px;
  height:15px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6910_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  word-wrap:break-word;
}
#u6911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:16px;
}
#u6911 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:231px;
  width:551px;
  height:15px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6911_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  word-wrap:break-word;
}
#u6912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:16px;
}
#u6912 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:251px;
  width:551px;
  height:15px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6912_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  word-wrap:break-word;
}
#u6913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:16px;
}
#u6913 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:272px;
  width:551px;
  height:15px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6913_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  word-wrap:break-word;
}
#u6914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:16px;
}
#u6914 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:293px;
  width:551px;
  height:15px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6914_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  word-wrap:break-word;
}
#u6915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:16px;
}
#u6915 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:313px;
  width:551px;
  height:15px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6915_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  word-wrap:break-word;
}
#u6916 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:139px;
  width:241px;
  height:201px;
}
#u6917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:24px;
}
#u6917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:23px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6917_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:237px;
  word-wrap:break-word;
}
#u6918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:179px;
}
#u6918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:241px;
  height:178px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
}
#u6918_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:16px;
}
#u6919 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:169px;
  width:214px;
  height:15px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u6919_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u6920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
}
#u6920 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:190px;
  width:224px;
  height:15px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u6920_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u6921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:16px;
}
#u6921 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:211px;
  width:201px;
  height:15px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u6921_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u6922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:16px;
}
#u6922 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:231px;
  width:201px;
  height:15px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u6922_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u6923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:16px;
}
#u6923 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:251px;
  width:201px;
  height:15px;
  font-family:'Helvetica';
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u6923_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u6924 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:350px;
  width:431px;
  height:141px;
}
#u6925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:24px;
}
#u6925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:23px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6925_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:427px;
  word-wrap:break-word;
}
#u6926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:119px;
}
#u6926 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:431px;
  height:118px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
}
#u6926_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:16px;
}
#u6927 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:380px;
  width:324px;
  height:15px;
  font-family:'Helvetica';
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u6927_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u6928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:16px;
}
#u6928 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:401px;
  width:384px;
  height:15px;
  font-family:'Helvetica';
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u6928_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  word-wrap:break-word;
}
#u6929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:16px;
}
#u6929 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:422px;
  width:345px;
  height:15px;
  font-family:'Helvetica';
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u6929_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u6930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:16px;
}
#u6930 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:443px;
  width:384px;
  height:15px;
  font-family:'Helvetica';
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u6930_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  word-wrap:break-word;
}
#u6931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:16px;
}
#u6931 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:464px;
  width:345px;
  height:15px;
  font-family:'Helvetica';
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u6931_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u6932 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:350px;
  width:430px;
  height:91px;
}
#u6933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:24px;
}
#u6933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:23px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6933_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:426px;
  word-wrap:break-word;
}
#u6934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:69px;
}
#u6934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:430px;
  height:68px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
}
#u6934_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:16px;
}
#u6935 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:380px;
  width:324px;
  height:15px;
  font-family:'Helvetica';
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u6935_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u6936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:16px;
}
#u6936 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:401px;
  width:384px;
  height:15px;
  font-family:'Helvetica';
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u6936_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  word-wrap:break-word;
}
#u6937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:16px;
}
#u6937 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:422px;
  width:345px;
  height:15px;
  font-family:'Helvetica';
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u6937_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
