@charset "utf-8";
@import url('/css/font.css');

body, h1, h2, h3, h4, div, p, ul, ol, dl, li, dt, dd {margin:0; padding:0;}
html,body {height:100%;} /* 180212 추가 */
body * {color:#333; font-size:13px; font-family:'Spoqa'; font-weight:300; line-height:100%;}

ul, ol {list-style:none;}

a {text-decoration:none;}
img {border:0;}
input {outline:none;}

table {border-collapse:collapse; border-spacing:0;}

/* 180212 추가 */
.skip {position:absolute; left:0; top:0;}
a.skip {top:-100%;}
a.skip:focus,a.skip:hover,a.skip:active {display:block; top:0; width:100%; height:30px; background:#dbdbdb; color:#343434; font-size:14px; font-weight:bold; text-align:center; line-height:30px; z-index:999;}

#wrap, #header, #container, #footer {box-sizing: border-box;}
#wrap {position:relative; min-height:100%; padding-bottom:200px;}

#header {width:100%; min-width:1360px; height:100px; background:#fff; border-bottom:1px solid #ddd; box-sizing:border-box;}
#header .inner {width:1360px; margin:0 auto;}
#header .inner:after {clear:both; display:block; content:""}
#header h1 {float:left; margin-top:30px;}
#header h1 a {display:inline-block;}
#header .nav {float:left; margin:30px 0 0 175px;}
#header .nav:after {clear:both; display:block; content:""}
#header .nav li {float:left; margin-left:25px;}
#header .nav li:first-child {margin-left:0;}
#header .nav li a {display:inline-block; padding:10px; color:#333; font-size:17px; box-sizing:border-box;}
#header .nav li.current a, #header .nav li a:hover,#header .nav li a:focus{color:#0e44a0;}
#header .util {float:right; margin:30px 0 0 0;}
#header .util:after {clear:both; display:block; content:""}
#header .util li {float:left; margin-left:34px;}
#header .util li:first-child {margin-left:0;}
#header .util li a {display:inline-block; padding:10px 0; color:#333; font-size:13px; line-height:18px;}
#header .util .num {display:inline-block; width:18px; height:18px; margin-left:3px; color:#fff; text-align:center; line-height:18px; background:#093e75; border-radius:18px;}

#container {width:100%; min-width:1360px;}

#footer {position: absolute; bottom:0; left:0; right:0; width:100%; min-width:1360px; height:200px; background:#263343;}
#footer .inner {width:1360px; margin:0 auto; padding:50px 0 0 0; box-sizing:border-box;}
#footer .inner:after {clear:both; display:block; content:""}
#footer .inner * {color:#ddd; font-size:12px; line-height:19px;}
#footer .fl p span {padding:0 5px;}
#footer .fr {text-align:right;}
#footer .fr a {display:inline-block; margin-top:5px; font-size:30px;}
#footer .copyright {margin:25px 0 0 0; font-size:11px;}
#footer .notice {margin:27px 0 0 0; font-size:11px;}
/* //180212 추가 */

/* input */
label {display:inline-block;}
input[type='checkbox'], input[type='radio'] {display:none;}
input[type='checkbox'] + label, input[type='radio'] + label {margin-right:10px; font-size:13px; cursor:pointer;}
input[type='checkbox'] + label:before, input[type='radio'] + label:before {margin-top:-3px; background-image:url('/images/btn_icon/icon_input.png'); background-repeat:no-repeat; vertical-align:middle; content:''; display:inline-block;}
input[type='radio']:checked + label {color:#1f9fc9;}

input[type='radio'] + label:before {width:16px; height:16px; margin-right:10px; background-position:0 0;}
input[type='radio']:checked + label:before {margin-right:10px; background-position:-30px 0;}

input[type='checkbox'] + label:before {width:14px; height:14px; margin-right:10px; background-position:-60px 0;}
input[type='checkbox']:checked + label:before {margin-right:10px; background-position:-90px 0;}

input[type='text'].small {height:22px; box-sizing:border-box;}

input.type_btn + label {height:28px; padding:0 12px; color:#666; font-size:13px; line-height:26px; border:1px solid #ccc; border-radius:2px; box-sizing:border-box; cursor:pointer; display:inline-block;}
.detail_search dd input.type_btn:checked + label {color:#fff; background-color:#1f9fc9; border-color:#1f9fc9;}
input.type_btn + label:before {margin:0 !important; display:none;}

.placeholder_wrap {position:relative;}
.placeholder_wrap input {height:34px; padding-left:13px; border:1px solid #a1a1a1;  border-radius:3px; box-sizing:border-box;}
.placeholder_wrap .placeholder {color:#a1a1a1; font-size:15px; font-weight:200; line-height:32px; position:absolute; top:0; left:13px;}
.placeholder_wrap input:focus {border-color:#1f9fc9;}
.placeholder_wrap input:focus + .placeholder {display:none;}
.placeholder_wrap input.h42 {height:42px; line-height:40px;}
.placeholder_wrap input.h42 + .placeholder {line-height:40px;}

.validation {margin-top:10px; color:#ff2d60; font-size:12px; display:none;}
.validation.on {display:inline-block;}

.blind {position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0;}/* 180209 추가 */

/* width */
.full {width:100% !important;}
.half {width:50% !important;}

/* align */
.al {text-align:left !important;}
.ar {text-align:right !important;}
.ac {text-align:center !important;}

/* margin */
.mt-10 {margin-top:-10px !important;}
.mt05 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt20 {margin-top:20px !important;}
.mt50 {margin-top:50px !important;}
.mr10 {margin-right:10px !important;}
.mb10 {margin-bottom:10px !important;}
.mb20 {margin-bottom:20px !important;}
.ml10 {margin-left:10px !important;}

/* padding */
.pl30 {padding-left:30px !important;}
.pr30 {padding-right:30px !important;}
.pb20 {padding-bottom:20px !important;}
.pb30 {padding-bottom:30px !important;}

/* float */
.fl {float:left !important;}
.fr {float:right !important;}
.c_both {clear:both !important;}

.txt_blue {color:#1f9fc9 !important;}
.txt_red {color:#ed1a22 !important;}
.txt_gray {color:#999 !important;}

.red {color:#ff2d60 !important;}

.help {cursor:pointer; position:relative;}
.help:after {width:20px; height:20px; margin-top:-10px; background:url('/images/btn_icon/icon_collection.png') 0 -30px no-repeat; vertical-align:middle; position:absolute; top:50%; content:''; display:inline-block;}

.help_front {padding-left:25px;}
.help_front:after {left:0;}
.help_back {padding-right:25px;}
.help_back:after {right:0;}

.tooTip_area {position:relative;}

.select_box {position:relative; width:120px; height:32px; margin:1px 0 0 30px; background:#fff; z-index:10;}
.select_box dt {border:1px solid #999; border-radius:2px; box-sizing:border-box;}
.select_box dt a {font-size:13px; color:#333; line-height:30px; text-align:center; display:block; }
.select_box dt a:after {width:12px; height:12px; margin-left:10px; background:url('/images/btn_icon/icon_collection.png') 0 -59px; clear:both; display:inline-block; content:""; }
.select_box dd {max-height:200px; margin-top:-1px; background:#fff; border:1px solid #999; border-top:0; border-radius:0 0 2px 2px; overflow:auto; display:none;}
.select_box dd select {display:none;}
.select_box dd ul li a {display:block; padding:9px 10px;}
.select_box.open dd {display:block;}

.tooltip_wrap {padding:20px; background-color:#fff; border-radius:3px; box-sizing:border-box; box-shadow:0 3px 7px rgba(0,0,0,0.35); text-align:left; position:absolute; top:60px; left:0; z-index:-1; opacity:0; transition:all 0.3s; -webkit-transition:all 0.3s;}
.tooltip_wrap strong.title {margin-bottom:20px; color:#093e75; font-size:15px; font-weight:400; display:block;}
.tooltip_inner {font-size:12px; line-height:21px;}
.tooltip_wrap .btn_close {width:14px; height:14px; font-size:0; background:url('/images/btn_icon/icon_collection.png') -129px 1px; position:absolute; top:17px; right:17px; display:inline-block;}

/* tooltip size */
.tooltip_wrap {width:334px; height:180px;}

/* popup */
#layer_wrap {background-color:rgba(0,0,0,0.6); position:fixed; top:0; right:0; bottom:0; left:0; z-index:10; opacity:0; display:none; transition:all 0.3s; -webkit-transition:all 0.3s;}
#layer_wrap.open {display:block;}
.layer_pop {padding:40px 40px 0 40px; background-color:#fff; border-radius:10px; box-sizing:border-box; position:absolute; top:50%; left:50%; z-index:10; opacity:1; display:block; transition:opacity 0.3s; -webkit-transition:opacity 0.3s;}

.layer_pop .btn_close {font-size:0;}
.layer_pop .btn_close:before {width:20px; height:20px; background:url('/images/btn_icon/icon_collection.png') -30px -30px no-repeat; position:absolute; top:20px; right:20px; content:''; display:block;}
.layer_pop .layer_footer {padding:0 30px; position:absolute; right:0; bottom:20px; left:0;}

.layer_pop .layer_footer [class*='btn'] + [class*='btn'] {margin-left:10px;}

/* popup size */
#layer_wrap.find_id .layer_pop, #layer_wrap.find_result .layer_pop {width:430px; height:402px; margin-top:-201px; margin-left:-215px;}
#layer_wrap.join .layer_pop {width:430px; height:402px; margin-top:-201px; margin-left:-215px;}
#layer_wrap[class*='join_step'] .layer_pop {width:800px; margin-left:-400px;}
#layer_wrap.join_step01 .layer_pop {height:306px; margin-top:-153px;}
#layer_wrap.join_step02 .layer_pop, #layer_wrap.join_step03 .layer_pop {height:770px; margin-top:-385px;}

/* popup별 style은 해당 팝업 페이지에서 호출합니다. */

.btnD {display:inline-block; min-width:60px; height:42px; padding:0 20px; color:#fefefe; font-size:13px; text-align:center; line-height:42px; border-radius:5px;}
.btnB {display:inline-block; min-width:105px; height:46px; padding:0 20px; color:#fefefe; font-size:16px; text-align:center; line-height:46px; border-radius:5px;}
.btnEB {width:175px; height:51px; font-size:16px; line-height:51px; border-radius:5px; display:inline-block;}

.blue {color:#fff; background-color:#1f9fc9 !important;}
.dark {background-color:#333 !important;}
.gray {background-color:#d1d1d1 !important;}

.btn_area [class*='btn'] + [class*='btn'] {margin-left:10px;}