#layer_wrap.join .btn_close {display:none;}
#layer_wrap.join .sns {margin-top:-15px;}
#layer_wrap.join .sns li {margin-top:15px;}
#layer_wrap.join .sns a {height:42px; font-size:15px; line-height:42px; border-radius:5px; text-align:center; display:block;}

#layer_wrap.join .sns li.kakao a {color:#333; background-color:#fae100;}
#layer_wrap.join .sns li.naver a {color:#fff; background-color:#01c73c;}
#layer_wrap.join .sns li.facebook a {color:#fff; background-color:#3a5897;}
#layer_wrap.join .sns li.email a {color:#fff; background-color:#b6b6b6;}

#layer_wrap.join .sns li a:before {width:24px; height:24px; margin-top:-3px; margin-right:10px; background-image:url('/images/btn_icon/icon_sns.png'); vertical-align:middle; content:''; display:inline-block;}
#layer_wrap.join .sns li.kakao a:before {background-position:0 0;}
#layer_wrap.join .sns li.naver a:before {background-position:-40px 0;}
#layer_wrap.join .sns li.facebook a:before {background-position:-80px 0;}
#layer_wrap.join .sns li.email a:before {background-position:-120px 0;}

#layer_wrap.join .sns + p {margin-top:20px; font-size:11px; line-height:17px;}

#layer_wrap.join .btn_cancel {width:150px; height:38px; color:#1f9fc9; font-size:14px; line-height:36px; border:1px solid #1f9fc9; border-radius:19px; display:inline-block;}

#layer_wrap[class*='join_step'] .layer_header {margin-bottom:30px; padding-bottom:20px; border-bottom:1px solid #e1e1e1;}
#layer_wrap[class*='join_step'] .layer_header h2 {font-size:28px; display:block;}
#layer_wrap[class*='join_step'] .layer_header .explain {margin-top:20px; font-size:18px; font-weight:200;}

#layer_wrap[class*='join_step'] .layer_content .tit {font-size:18px; display:block;}
#layer_wrap[class*='join_step'] .layer_content .tit + .explain {margin-top:8px; color:#999; display:inline-block;}

#layer_wrap.join_step01 .layer_content .tit {font-size:15px;}

#layer_wrap.join_step03 .layer_content {max-height:545px;}

.agree_section {margin-top:12px;}
.agree_section > dl > dt {margin-bottom:12px;}
.agree_section > dl > dd {margin-bottom:30px; padding:15px; border:1px solid #d1d1d1; overflow:auto; position:relative;}

.info_section {margin-top:20px;}
.info_section:after {clear:both; content:''; display:block;}
.info_section > dl > dt {width:108px; min-height:42px; line-height:42px; float:left;}
.info_section > dl > dd {min-height:42px; margin-bottom:16px; padding-left:108px; position:relative;}
.info_section > dl > dd:after {clear:both; content:''; display:block;}
.info_section > dl > dd input[type='radio'] + label {margin-top:14px;}

.info_section dl.select_box {height:42px; margin-right:10px; margin-left:0; float:left; display:inline-block;}
.info_section dl.select_box dt a {height:42px; padding:0 25px 0 10px; line-height:40px; border-color:#d1d1d1; text-align:left;}
.info_section dl.select_box dt a {position:relative;}
.info_section dl.select_box dt a:after {margin-top:-6px; position:absolute; top:50%; right:10px;}

.info_section dl.select_box + .explain {position:absolute; bottom:0; left:108px;}
.info_section .file_box + .explain {position:absolute; bottom:0; left:108px;}

.file_box .btn_file {display:inline-block; min-width:60px; height:42px; padding:0 20px; color:#fefefe; font-size:13px; text-align:center; line-height:42px; background:#d1d1d1; border-radius:5px; cursor:pointer;}
.file_box .upload_file {position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0;}