#layer_wrap.find_id h2 {font-size:28px; text-align:center;}
#layer_wrap.find_id .layer_content {padding:30px 0;}
#layer_wrap.find_id .layer_content .tab {margin-bottom:30px; border-bottom:1px solid #111;}
#layer_wrap.find_id .layer_content .tab:after {clear:both; content:''; display:block;}
#layer_wrap.find_id .layer_content .tab li {margin-bottom:-1px; background-color:#f9f9f9; float:left;}
#layer_wrap.find_id .layer_content .tab li a {height:40px; color:#666; font-size:15px;  line-height:40px; border-top:1px solid #f9f9f9; border-bottom:1px solid #111; text-align:center; display:block;}
#layer_wrap.find_id .layer_content .tab li.current a {color:#333; background-color:#fff; border:1px solid #111; border-bottom:1px solid #fff;}


#layer_wrap.find_id .layer_content dl.login {margin-top:-16px; margin-bottom:35px; display:none;}
#layer_wrap.find_id .layer_content dl.login.current {display:block;}
#layer_wrap.find_id .layer_content dl.login:after {clear:both; content:''; display:block;}
#layer_wrap.find_id .layer_content dl.login dt, #layer_wrap .layer_content dd {margin-top:16px; float:left;}
#layer_wrap.find_id .layer_content dl.login dt {width:80px; font-size:13px; line-height:42px;}
#layer_wrap.find_id .layer_content dl.login dd {width:270px; box-sizing:border-box;}
#layer_wrap.find_id .layer_content dl.login dd input {width:100%; height:42px; line-height:40px;}
#layer_wrap.find_id .layer_content dl.login dd .placeholder {line-height:40px;}

#layer_wrap.find_id .layer_content .find_result {font-size:20px; text-align:center;}
#layer_wrap.find_id .layer_content .find_result strong {margin:12px 0; color:#19a0ca; font-size:20px; font-weight:700; display:block;}

#layer_wrap.find_id .layer_footer .btn_submit {width:145px; height:46px; color:#fff; font-size:16px; line-height:46px; background-color:#d1d1d1; border-radius:5px; text-align:center; display:inline-block;}


#layer_wrap.find_id .layer_footer .btn_submit {width:145px; height:46px; color:#fff; font-size:16px; line-height:46px; background-color:#d1d1d1; border-radius:5px; text-align:center; display:inline-block;}