body {
  margin:0px;
  background-color:rgba(232, 232, 232, 1);
  background-image:none;
  position:relative;
  left:-10px;
  width:1465px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1000px;
  height:70px;
}
#u1142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1465px;
  height:76px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1465px;
  height:76px;
}
#u1143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Medium', 'Noto Sans CJK KR Medium', 'Noto Sans CJK KR';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:43px;
  width:130px;
  height:24px;
  font-family:'NotoSansCJKkr-Medium', 'Noto Sans CJK KR Medium', 'Noto Sans CJK KR';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u1145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:50px;
  height:46px;
}
#u1145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:24px;
  width:120px;
  height:18px;
}
#u1146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:44px;
  width:126px;
  height:24px;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u1148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:44px;
  width:30px;
  height:24px;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Light', 'Noto Sans CJK KR Light', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:right;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:20px;
  width:365px;
  height:19px;
  font-family:'NotoSansCJKkr-Light', 'Noto Sans CJK KR Light', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:right;
}
#u1149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  word-wrap:break-word;
}
#u1150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:55px;
  background:inherit;
  background-color:rgba(254, 254, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:91px;
  width:728px;
  height:55px;
  font-size:14px;
  color:#999999;
}
#u1150_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:55px;
  background:inherit;
  background-color:rgba(254, 254, 254, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1150.selected {
}
#u1150_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:724px;
  word-wrap:break-word;
}
#u1151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:55px;
  background:inherit;
  background-color:rgba(254, 254, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:91px;
  width:728px;
  height:55px;
  font-size:14px;
  color:#999999;
}
#u1151_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:55px;
  background:inherit;
  background-color:rgba(254, 254, 254, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1151.selected {
}
#u1151_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:724px;
  word-wrap:break-word;
}
#u1152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1465px;
  height:649px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:151px;
  width:1465px;
  height:649px;
  font-size:18px;
}
#u1152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#333333;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:171px;
  width:120px;
  height:29px;
  font-size:20px;
  color:#333333;
}
#u1153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u1154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1432px;
  height:2px;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:211px;
  width:1431px;
  height:1px;
}
#u1154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:236px;
  width:163px;
  height:24px;
  font-size:16px;
}
#u1155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u1156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Light', 'Noto Sans CJK KR Light', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:236px;
  width:45px;
  height:24px;
  font-family:'NotoSansCJKkr-Light', 'Noto Sans CJK KR Light', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u1156_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:240px;
  width:20px;
  height:16px;
  font-size:16px;
}
#u1157_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1157_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Light', 'Noto Sans CJK KR Light', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:236px;
  width:32px;
  height:24px;
  font-family:'NotoSansCJKkr-Light', 'Noto Sans CJK KR Light', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u1158_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:240px;
  width:20px;
  height:16px;
  font-size:16px;
}
#u1159_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1159_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:290px;
  width:207px;
  height:35px;
}
#u1160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:294px;
  width:202px;
  height:28px;
}
#u1161_input {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:28px;
  background-color:#F2F2F2;
  font-family:'NotoSansCJKkr-Thin', 'Noto Sans CJK KR Thin', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:296px;
  width:60px;
  height:24px;
  font-size:16px;
}
#u1162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u1163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:341px;
  width:60px;
  height:24px;
  font-size:16px;
}
#u1163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u1164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:335px;
  width:207px;
  height:35px;
}
#u1164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:339px;
  width:202px;
  height:28px;
}
#u1165_input {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:28px;
  background-color:#F2F2F2;
  font-family:'NotoSansCJKkr-Thin', 'Noto Sans CJK KR Thin', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:386px;
  width:60px;
  height:24px;
  font-size:16px;
}
#u1166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u1167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:380px;
  width:207px;
  height:35px;
}
#u1167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:384px;
  width:202px;
  height:28px;
}
#u1168_input {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:28px;
  background-color:#F2F2F2;
  font-family:'NotoSansCJKkr-Thin', 'Noto Sans CJK KR Thin', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:431px;
  width:45px;
  height:24px;
  font-size:16px;
}
#u1169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:425px;
  width:207px;
  height:35px;
}
#u1170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:429px;
  width:202px;
  height:28px;
}
#u1171_input {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:28px;
  background-color:#F2F2F2;
  font-family:'NotoSansCJKkr-Thin', 'Noto Sans CJK KR Thin', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:220px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:500px;
  width:521px;
  height:220px;
}
#u1172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome5FreeRegular', 'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:516px;
  width:201px;
  height:19px;
  font-family:'FontAwesome5FreeRegular', 'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u1174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:550px;
  width:491px;
  height:150px;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u1174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  word-wrap:break-word;
}
#u1175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#999999;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:456px;
  width:16px;
  height:42px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#999999;
}
#u1175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:236px;
  width:700px;
  height:544px;
  overflow:hidden;
}
#u1176_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:544px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1176_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-DemiLight', 'Noto Sans CJK KR DemiLight', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:510px;
  height:20px;
  font-family:'NotoSansCJKkr-DemiLight', 'Noto Sans CJK KR DemiLight', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u1177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u1178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:241px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:209px;
  width:689px;
  height:241px;
}
#u1178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:210px;
  width:688px;
  height:238px;
}
#u1179_input {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:238px;
  background-color:#F2F2F2;
  font-family:'NotoSansCJKkr-Light', 'Noto Sans CJK KR Light', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1179_ann {
  border-width:0px;
  position:absolute;
  left:683px;
  top:206px;
  width:1px;
  height:1px;
}
#u1180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:53px;
}
#u1180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  word-wrap:break-word;
}
#u1181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-DemiLight', 'Noto Sans CJK KR DemiLight', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:464px;
  width:56px;
  height:20px;
  font-family:'NotoSansCJKkr-DemiLight', 'Noto Sans CJK KR DemiLight', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u1181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:462px;
  width:90px;
  height:25px;
}
#u1182_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1182_ann {
  border-width:0px;
  position:absolute;
  left:153px;
  top:458px;
  width:1px;
  height:1px;
}
#u1183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Medium', 'Noto Sans CJK KR Medium', 'Noto Sans CJK KR';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:580px;
  width:347px;
  height:40px;
  font-family:'NotoSansCJKkr-Medium', 'Noto Sans CJK KR Medium', 'Noto Sans CJK KR';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1183_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:343px;
  word-wrap:break-word;
}
#u1183_ann {
  border-width:0px;
  position:absolute;
  left:340px;
  top:576px;
  width:1px;
  height:1px;
}
#u1184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Medium', 'Noto Sans CJK KR Medium', 'Noto Sans CJK KR';
  font-weight:500;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:119px;
  width:600px;
  height:22px;
  font-family:'NotoSansCJKkr-Medium', 'Noto Sans CJK KR Medium', 'Noto Sans CJK KR';
  font-weight:500;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u1184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u1184_ann {
  border-width:0px;
  position:absolute;
  left:593px;
  top:115px;
  width:1px;
  height:1px;
}
#u1185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-DemiLight', 'Noto Sans CJK KR DemiLight', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:80px;
  height:20px;
  font-family:'NotoSansCJKkr-DemiLight', 'Noto Sans CJK KR DemiLight', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u1185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:2px;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:69px;
  width:719px;
  height:1px;
}
#u1186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Thin', 'Noto Sans CJK KR Thin', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:465px;
  width:276px;
  height:18px;
  font-family:'NotoSansCJKkr-Thin', 'Noto Sans CJK KR Thin', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u1187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u1188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Thin', 'Noto Sans CJK KR Thin', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#FF3333;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:465px;
  width:50px;
  height:18px;
  font-family:'NotoSansCJKkr-Thin', 'Noto Sans CJK KR Thin', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#FF3333;
}
#u1188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u1189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Medium', 'Noto Sans CJK KR Medium', 'Noto Sans CJK KR';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:580px;
  width:347px;
  height:40px;
  font-family:'NotoSansCJKkr-Medium', 'Noto Sans CJK KR Medium', 'Noto Sans CJK KR';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:343px;
  word-wrap:break-word;
}
#u1189_ann {
  border-width:0px;
  position:absolute;
  left:692px;
  top:576px;
  width:1px;
  height:1px;
}
#u1176_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:544px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1176_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:104px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:690px;
  height:104px;
}
#u1190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:687px;
  height:101px;
}
#u1191_input {
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:101px;
  background-color:#F2F2F2;
  font-family:'NotoSansCJKkr-Light', 'Noto Sans CJK KR Light', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1191_ann {
  border-width:0px;
  position:absolute;
  left:682px;
  top:73px;
  width:1px;
  height:1px;
}
#u1192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:690px;
  height:53px;
}
#u1192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  word-wrap:break-word;
}
#u1193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Medium', 'Noto Sans CJK KR Medium', 'Noto Sans CJK KR';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:220px;
  width:687px;
  height:40px;
  font-family:'NotoSansCJKkr-Medium', 'Noto Sans CJK KR Medium', 'Noto Sans CJK KR';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:683px;
  word-wrap:break-word;
}
#u1193_ann {
  border-width:0px;
  position:absolute;
  left:682px;
  top:216px;
  width:1px;
  height:1px;
}
#u1194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Light', 'Noto Sans CJK KR Light', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#333333;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:183px;
  width:45px;
  height:19px;
  font-family:'NotoSansCJKkr-Light', 'Noto Sans CJK KR Light', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#333333;
}
#u1194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u1195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399CC;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:183px;
  width:15px;
  height:19px;
  color:#3399CC;
}
#u1195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Thin', 'Noto Sans CJK KR Thin', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#BCBCBC;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:810px;
  width:560px;
  height:64px;
  font-family:'NotoSansCJKkr-Thin', 'Noto Sans CJK KR Thin', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#BCBCBC;
}
#u1197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u1198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:1157px;
  top:817px;
  width:18px;
  height:18px;
}
#u1198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Thin', 'Noto Sans CJK KR Thin', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#F2F2F2;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:1181px;
  top:835px;
  width:121px;
  height:18px;
  font-family:'NotoSansCJKkr-Thin', 'Noto Sans CJK KR Thin', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#F2F2F2;
}
#u1199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:1372px;
  top:825px;
  width:103px;
  height:16px;
}
#u1200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:818px;
  width:33px;
  height:30px;
}
#u1201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Medium', 'Noto Sans CJK KR Medium', 'Noto Sans CJK KR';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#F2F2F2;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:1181px;
  top:810px;
  width:99px;
  height:29px;
  font-family:'NotoSansCJKkr-Medium', 'Noto Sans CJK KR Medium', 'Noto Sans CJK KR';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#F2F2F2;
}
#u1202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Thin', 'Noto Sans CJK KR Thin', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#BCBCBC;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:874px;
  width:330px;
  height:17px;
  font-family:'NotoSansCJKkr-Thin', 'Noto Sans CJK KR Thin', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#BCBCBC;
}
#u1203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u1204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Thin', 'Noto Sans CJK KR Thin', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#BCBCBC;
  text-align:right;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:874px;
  width:588px;
  height:17px;
  font-family:'NotoSansCJKkr-Thin', 'Noto Sans CJK KR Thin', 'Noto Sans CJK KR';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#BCBCBC;
  text-align:right;
}
#u1204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  word-wrap:break-word;
}
