body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:323px;
  height:53px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:50px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:316px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:163px;
  height:63px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:190px;
  width:160px;
  height:60px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:156px;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:163px;
  height:63px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:190px;
  width:160px;
  height:60px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:156px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:163px;
  height:63px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:190px;
  width:160px;
  height:60px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:156px;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:163px;
  height:63px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:190px;
  width:160px;
  height:60px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:156px;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:33px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:20px;
  width:120px;
  height:30px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:33px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:20px;
  width:120px;
  height:30px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:33px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:20px;
  width:120px;
  height:30px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:81px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:56px;
  width:120px;
  height:80px;
  font-size:12px;
  text-align:right;
  line-height:20px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:57px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:258px;
  width:160px;
  height:56px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:156px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:262px;
  width:160px;
  height:50px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:262px;
  width:160px;
  height:50px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:327px;
  width:160px;
  height:50px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:393px;
  width:160px;
  height:50px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:262px;
  width:160px;
  height:50px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:460px;
  width:160px;
  height:50px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  color:#949494;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:327px;
  width:160px;
  height:50px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:540px;
  width:160px;
  height:50px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:606px;
  width:160px;
  height:50px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:327px;
  width:160px;
  height:50px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:466px;
  width:160px;
  height:50px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  color:#3300FF;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:680px;
  width:160px;
  height:50px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:126px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:443px;
  width:150px;
  height:125px;
  font-family:'Dotum';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
  line-height:18px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:452px;
  width:50px;
  height:20px;
  font-family:'Dotum';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:452px;
  width:80px;
  height:20px;
  font-family:'Dotum';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:72px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:510px;
  width:150px;
  height:71px;
  font-family:'Dotum';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
  line-height:18px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:8px;
  width:140px;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:154px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:377px;
  width:150px;
  height:153px;
  font-family:'Dotum';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
  line-height:18px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:4px;
  width:140px;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:387px;
  width:50px;
  height:20px;
  font-family:'Dotum';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:387px;
  width:80px;
  height:20px;
  font-family:'Dotum';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:74px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:377px;
  width:150px;
  height:73px;
  font-family:'Dotum';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
  line-height:18px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:387px;
  width:80px;
  height:20px;
  font-family:'Dotum';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:155px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:516px;
  width:150px;
  height:154px;
  font-family:'Dotum';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
  line-height:18px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:140px;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:526px;
  width:80px;
  height:20px;
  font-family:'Dotum';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:33px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:820px;
  width:120px;
  height:30px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:33px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:820px;
  width:120px;
  height:30px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:33px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:820px;
  width:120px;
  height:30px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:328px;
  width:160px;
  height:50px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:395px;
  width:160px;
  height:50px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:606px;
  width:160px;
  height:50px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:163px;
  height:63px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:190px;
  width:160px;
  height:60px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:156px;
  word-wrap:break-word;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:262px;
  width:160px;
  height:50px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:328px;
  width:160px;
  height:50px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:395px;
  width:160px;
  height:50px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  color:#AEAEAE;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:33px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:20px;
  width:120px;
  height:30px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:50px;
  width:0px;
  height:0px;
}
#u111_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u111_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:6px;
  width:134px;
  height:8px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
