body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1060px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:21px;
}
#u7218 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:810px;
  height:20px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u7218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  word-wrap:break-word;
}
#u7219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:221px;
}
#u7219 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:198px;
  width:429px;
  height:220px;
  font-size:12px;
  line-height:20px;
}
#u7219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  word-wrap:break-word;
}
#u7220 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:445px;
  width:150px;
  height:25px;
}
#u7220_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:117px;
}
#u7221 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:50px;
  width:597px;
  height:117px;
}
#u7221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:474px;
}
#u7222 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:167px;
  width:596px;
  height:473px;
}
#u7222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:16px;
}
#u7223 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:177px;
  width:360px;
  height:15px;
  font-family:'AppleSymbols', 'Apple Symbols';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u7223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u7224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u7224 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:204px;
  width:85px;
  height:15px;
  font-size:12px;
}
#u7224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u7225 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:198px;
  width:460px;
  height:23px;
}
#u7225_input {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:23px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u7226 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:250px;
  width:75px;
  height:15px;
  font-size:12px;
}
#u7226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u7227 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:274px;
  width:565px;
  height:106px;
}
#u7227_input {
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  height:106px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u7228 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:400px;
  width:75px;
  height:15px;
  font-size:12px;
}
#u7228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u7229 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:424px;
  width:565px;
  height:206px;
}
#u7229_input {
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  height:206px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:21px;
}
#u7230 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:670px;
  width:810px;
  height:20px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u7230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  word-wrap:break-word;
}
#u7231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:606px;
}
#u7231 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:720px;
  width:376px;
  height:606px;
}
#u7231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
}
#u7232 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1270px;
  width:70px;
  height:20px;
  font-size:12px;
  color:#FF0000;
  text-align:right;
  line-height:20px;
}
#u7232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u7233 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1270px;
  width:270px;
  height:50px;
}
#u7233_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:50px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:41px;
}
#u7234 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1086px;
  width:70px;
  height:40px;
  font-size:12px;
  color:#FF0000;
  text-align:right;
  line-height:20px;
}
#u7234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u7235_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:73px;
  height:5px;
}
#u7235 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1077px;
  width:70px;
  height:2px;
}
#u7235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7236 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:825px;
  width:150px;
  height:25px;
}
#u7236_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
}
#u7237 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1210px;
  width:70px;
  height:20px;
  font-size:12px;
  color:#FF0000;
  text-align:right;
  line-height:20px;
}
#u7237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u7238 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1210px;
  width:80px;
  height:22px;
}
#u7238_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u7238_input:disabled {
  color:grayText;
}
#u7239 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:1210px;
  width:80px;
  height:22px;
}
#u7239_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u7239_input:disabled {
  color:grayText;
}
#u7240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7240 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:1210px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#000000;
  text-align:center;
  line-height:20px;
}
#u7240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u7241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
}
#u7241 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1240px;
  width:70px;
  height:20px;
  font-size:12px;
  color:#FF0000;
  text-align:right;
  line-height:20px;
}
#u7241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u7242 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1237px;
  width:270px;
  height:23px;
}
#u7242_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:23px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
}
#u7243 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1336px;
  width:70px;
  height:20px;
  font-size:12px;
  color:#FF0000;
  text-align:right;
  line-height:20px;
}
#u7243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u7244 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1333px;
  width:270px;
  height:23px;
}
#u7244_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:23px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
}
#u7245 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:802px;
  width:42px;
  height:20px;
  font-size:12px;
  color:#FF0000;
  text-align:right;
  line-height:20px;
}
#u7245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u7246 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:802px;
  width:70px;
  height:22px;
}
#u7246_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7246_input:disabled {
  color:grayText;
}
