body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10145_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:383px;
  height:253px;
}
#u10145 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:380px;
  height:250px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u10145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
}
#u10146 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:100px;
  height:16px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
}
#u10146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u10147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u10147 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:217px;
  width:80px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u10147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u10148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:16px;
}
#u10148 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:46px;
  width:330px;
  height:15px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u10148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u10149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u10149 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:60px;
  height:15px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u10149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u10150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u10150 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:217px;
  width:80px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u10150_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u10151 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:99px;
  width:85px;
  height:16px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u10151_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u10151_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10152 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:99px;
  width:84px;
  height:16px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u10152_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u10152_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10153 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:99px;
  width:85px;
  height:16px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u10153_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u10153_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u10154 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:130px;
  width:60px;
  height:15px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u10154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u10155 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:130px;
  width:280px;
  height:70px;
}
#u10155_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:70px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
