body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:510px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4841_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:503px;
  height:193px;
}
#u4841 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:500px;
  height:190px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4841_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:18px;
}
#u4842 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:150px;
  height:17px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
}
#u4842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u4843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
}
#u4843 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:20px;
  width:54px;
  height:20px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u4843_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u4844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:16px;
}
#u4844 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:480px;
  height:15px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF2600;
  text-align:left;
}
#u4844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u4845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:31px;
}
#u4845 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:105px;
  width:460px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u4845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u4846 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:101px;
  width:70px;
  height:20px;
}
#u4846_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4847 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:120px;
  width:70px;
  height:20px;
}
#u4847_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
}
#u4848 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:150px;
  width:94px;
  height:20px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u4848_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u4849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
}
#u4849 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:150px;
  width:94px;
  height:20px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u4849_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
