body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:81px;
}
#u7888 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:970px;
  height:80px;
}
#u7888_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:62px;
}
#u7889 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:17px;
  width:163px;
  height:61px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
}
#u7889_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u7890 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:53px;
  width:690px;
  height:35px;
}
#u7890_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:35px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:35px;
}
#u7892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u7892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:35px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u7892_img.mouseOver {
}
#u7892.mouseOver {
}
#u7892_img.selected {
}
#u7892.selected {
}
#u7892_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u7893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u7893 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:115px;
  height:35px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u7893_img.mouseOver {
}
#u7893.mouseOver {
}
#u7893_img.selected {
}
#u7893.selected {
}
#u7893_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u7894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u7894 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:0px;
  width:115px;
  height:35px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u7894_img.mouseOver {
}
#u7894.mouseOver {
}
#u7894_img.selected {
}
#u7894.selected {
}
#u7894_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u7895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u7895 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:0px;
  width:115px;
  height:35px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u7895_img.mouseOver {
}
#u7895.mouseOver {
}
#u7895_img.selected {
}
#u7895.selected {
}
#u7895_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u7896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u7896 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:0px;
  width:115px;
  height:35px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u7896_img.mouseOver {
}
#u7896.mouseOver {
}
#u7896_img.selected {
}
#u7896.selected {
}
#u7896_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u7897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u7897 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:0px;
  width:115px;
  height:35px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u7897_img.mouseOver {
}
#u7897.mouseOver {
}
#u7897_img.selected {
}
#u7897.selected {
}
#u7897_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u7898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u7898 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:17px;
  width:61px;
  height:15px;
  text-align:right;
}
#u7898_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u7899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:15px;
}
#u7899 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:17px;
  width:47px;
  height:14px;
  text-align:right;
}
#u7899_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u7900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u7900 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:17px;
  width:61px;
  height:15px;
  text-align:right;
}
#u7900_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u7901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u7901 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:16px;
  width:20px;
  height:15px;
}
#u7901_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u7902 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:17px;
  width:104px;
  height:15px;
}
#u7902_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u7903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:15px;
}
#u7903 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:16px;
  width:12px;
  height:15px;
}
#u7903_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u7904 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:17px;
  width:104px;
  height:15px;
}
#u7904_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u7905_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:803px;
  height:5px;
}
#u7905 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:169px;
  width:800px;
  height:2px;
}
#u7905_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:14px;
}
#u7906 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:102px;
  width:280px;
  height:13px;
  font-family:'돋움';
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u7906_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u7907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:18px;
}
#u7907 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:134px;
  width:250px;
  height:17px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u7907_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u7909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:51px;
}
#u7909 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:910px;
  width:970px;
  height:50px;
}
#u7909_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:27px;
}
#u7910 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:922px;
  width:148px;
  height:26px;
  font-family:'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#C9C9C9;
  text-align:center;
}
#u7910_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u7911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u7911 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:928px;
  width:60px;
  height:15px;
}
#u7911_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u7912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:28px;
}
#u7912 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:921px;
  width:85px;
  height:28px;
}
#u7912_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:28px;
}
#u7913 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:921px;
  width:132px;
  height:28px;
}
#u7913_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7915 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:180px;
  width:160px;
  height:90px;
}
#u7915_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u7917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
}
#u7917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u7917_img.mouseOver {
}
#u7917.mouseOver {
}
#u7917_img.selected {
}
#u7917.selected {
}
#u7917_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u7918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
}
#u7918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:160px;
  height:30px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u7918_img.mouseOver {
}
#u7918.mouseOver {
}
#u7918_img.selected {
}
#u7918.selected {
}
#u7918_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u7919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
}
#u7919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:160px;
  height:30px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u7919_img.mouseOver {
}
#u7919.mouseOver {
}
#u7919_img.selected {
}
#u7919.selected {
}
#u7919_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u7920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:71px;
}
#u7920 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:100px;
  width:160px;
  height:70px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u7920_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:156px;
  word-wrap:break-word;
}
#u7921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:110px;
}
#u7921 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:380px;
  width:160px;
  height:109px;
}
#u7921_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u7922 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:393px;
  width:24px;
  height:21px;
}
#u7922_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u7923 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:389px;
  width:89px;
  height:20px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u7923_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u7924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u7924 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:431px;
  width:120px;
  height:20px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
  line-height:20px;
}
#u7924_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u7925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:21px;
}
#u7925 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:459px;
  width:152px;
  height:20px;
  font-family:'굴림';
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:20px;
}
#u7925_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u7926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:791px;
  height:21px;
}
#u7926 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:190px;
  width:790px;
  height:20px;
  color:#666666;
  line-height:20px;
}
#u7926_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  word-wrap:break-word;
}
#u7927 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:232px;
  width:800px;
  height:573px;
}
#u7928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
}
#u7928 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:40px;
  font-family:'굴림';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u7928_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u7929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:41px;
}
#u7929 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:0px;
  width:667px;
  height:40px;
  font-family:'굴림';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u7929_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:647px;
  word-wrap:break-word;
}
#u7930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
}
#u7930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:133px;
  height:40px;
  font-family:'굴림';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u7930_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u7931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:41px;
}
#u7931 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:40px;
  width:667px;
  height:40px;
  font-family:'굴림';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u7931_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:647px;
  word-wrap:break-word;
}
#u7932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
}
#u7932 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:133px;
  height:40px;
  font-family:'굴림';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u7932_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u7933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:41px;
}
#u7933 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:80px;
  width:667px;
  height:40px;
  font-family:'굴림';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u7933_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:647px;
  word-wrap:break-word;
}
#u7934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
}
#u7934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:133px;
  height:40px;
  font-family:'굴림';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u7934_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u7935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:41px;
}
#u7935 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:120px;
  width:667px;
  height:40px;
  font-family:'굴림';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:20px;
}
#u7935_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:647px;
  word-wrap:break-word;
}
#u7936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:63px;
}
#u7936 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:133px;
  height:62px;
  font-family:'굴림';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u7936_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:21px;
  width:113px;
  word-wrap:break-word;
}
#u7937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:63px;
}
#u7937 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:160px;
  width:667px;
  height:62px;
  font-family:'굴림';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u7937_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:21px;
  width:647px;
  word-wrap:break-word;
}
#u7938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:67px;
}
#u7938 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:222px;
  width:133px;
  height:66px;
  font-family:'굴림';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u7938_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:23px;
  width:113px;
  word-wrap:break-word;
}
#u7939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:67px;
}
#u7939 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:222px;
  width:667px;
  height:66px;
  font-family:'굴림';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u7939_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:19px;
  width:647px;
  word-wrap:break-word;
}
#u7940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:109px;
}
#u7940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:288px;
  width:133px;
  height:108px;
  font-family:'굴림';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u7940_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:44px;
  width:113px;
  word-wrap:break-word;
}
#u7941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:109px;
}
#u7941 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:288px;
  width:667px;
  height:108px;
  font-family:'굴림';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u7941_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:26px;
  width:647px;
  word-wrap:break-word;
}
#u7942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:178px;
}
#u7942 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:396px;
  width:133px;
  height:177px;
  font-family:'굴림';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u7942_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:78px;
  width:113px;
  word-wrap:break-word;
}
#u7943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:178px;
}
#u7943 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:396px;
  width:667px;
  height:177px;
  font-family:'굴림';
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u7943_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:18px;
  width:647px;
  word-wrap:break-word;
}
#u7944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:35px;
}
#u7944 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:820px;
  width:103px;
  height:34px;
  font-family:'굴림';
  font-weight:700;
  font-style:normal;
}
#u7944_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u7945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:21px;
}
#u7945 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:360px;
  width:67px;
  height:20px;
  font-family:'돋움';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u7945_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
