body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:61px;
}
#u13676 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:990px;
  height:60px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:19px;
}
#u13677 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:17px;
  width:150px;
  height:18px;
  color:#FFFFFF;
  text-align:left;
}
#u13677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u13678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u13678 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:43px;
  width:64px;
  height:15px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u13678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u13679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:16px;
}
#u13679 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:14px;
  width:456px;
  height:15px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u13679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  word-wrap:break-word;
}
#u13680 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:38px;
  width:806px;
  height:27px;
}
#u13680_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:27px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13681 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:3px;
  width:800px;
  height:21px;
}
#u13682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u13682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FEFB00;
}
#u13682_img.mouseOver {
}
#u13682.mouseOver {
}
#u13682_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u13683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u13683 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FEFB00;
}
#u13683_img.mouseOver {
}
#u13683.mouseOver {
}
#u13683_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u13684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u13684 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FEFB00;
}
#u13684_img.mouseOver {
}
#u13684.mouseOver {
}
#u13684_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u13685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u13685 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FEFB00;
}
#u13685_img.mouseOver {
}
#u13685.mouseOver {
}
#u13685_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u13686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u13686 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FEFB00;
}
#u13686_img.mouseOver {
}
#u13686.mouseOver {
}
#u13686_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u13687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u13687 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FEFB00;
}
#u13687_img.mouseOver {
}
#u13687.mouseOver {
}
#u13687_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u13688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u13688 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FEFB00;
}
#u13688_img.mouseOver {
}
#u13688.mouseOver {
}
#u13688_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u13689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u13689 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FEFB00;
}
#u13689_img.mouseOver {
}
#u13689.mouseOver {
}
#u13689_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u13691 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:134px;
  width:110px;
  height:154px;
}
#u13691_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:154px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13692 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:3px;
  width:104px;
  height:148px;
}
#u13693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:29px;
}
#u13693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:28px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u13693_img.mouseOver {
}
#u13693.mouseOver {
}
#u13693_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u13694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
}
#u13694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:104px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u13694_img.mouseOver {
}
#u13694.mouseOver {
}
#u13694_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u13695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
}
#u13695 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:104px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u13695_img.mouseOver {
}
#u13695.mouseOver {
}
#u13695_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u13696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
}
#u13696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:104px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u13696_img.mouseOver {
}
#u13696.mouseOver {
}
#u13696_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u13697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
}
#u13697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:104px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u13697_img.mouseOver {
}
#u13697.mouseOver {
}
#u13697_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u13698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:46px;
}
#u13698 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:80px;
  width:110px;
  height:45px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u13698_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  word-wrap:break-word;
}
#u13699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:16px;
}
#u13699 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:80px;
  width:240px;
  height:15px;
  font-family:'Helvetica';
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u13699_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u13700 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:169px;
  width:717px;
  height:309px;
}
#u13701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:37px;
}
#u13701 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13701_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u13702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:37px;
}
#u13702 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:0px;
  width:118px;
  height:36px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13702_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u13703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u13703 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:0px;
  width:120px;
  height:36px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13703_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u13704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u13704 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:0px;
  width:120px;
  height:36px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13704_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u13705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u13705 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:0px;
  width:120px;
  height:36px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13705_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u13706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:37px;
}
#u13706 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:0px;
  width:118px;
  height:36px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13706_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u13707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:26px;
}
#u13707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:121px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13707_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u13708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:26px;
}
#u13708 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:36px;
  width:118px;
  height:25px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13708_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:114px;
  word-wrap:break-word;
}
#u13709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13709 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:36px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13709_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:116px;
  word-wrap:break-word;
}
#u13710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13710 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:36px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13710_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:116px;
  word-wrap:break-word;
}
#u13711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13711 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:36px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13711_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:116px;
  word-wrap:break-word;
}
#u13712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13712 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:36px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13712_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:116px;
  word-wrap:break-word;
}
#u13713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:26px;
}
#u13713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:61px;
  width:121px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13713_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u13714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:26px;
}
#u13714 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:61px;
  width:118px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13714_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13715 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:61px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13716 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:61px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13716_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13717 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:61px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13717_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13718 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:61px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:26px;
}
#u13719 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:121px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13719_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u13720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:26px;
}
#u13720 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:86px;
  width:118px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13721 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:86px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13722 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:86px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13723 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:86px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13724 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:86px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13724_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:26px;
}
#u13725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:111px;
  width:121px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13725_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u13726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:26px;
}
#u13726 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:111px;
  width:118px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13726_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13727 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:111px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13727_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13728 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:111px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13728_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13729 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:111px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13729_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13730 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:111px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:26px;
}
#u13731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:121px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13731_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u13732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:26px;
}
#u13732 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:136px;
  width:118px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13732_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13733 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:136px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13733_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13734 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:136px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13734_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13735 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:136px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13735_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13736 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:136px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13736_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:26px;
}
#u13737 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:161px;
  width:121px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13737_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u13738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:26px;
}
#u13738 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:161px;
  width:118px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13738_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13739 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:161px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13739_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13740 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:161px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13740_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13741 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:161px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13741_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13742 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:161px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13742_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:26px;
}
#u13743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:186px;
  width:121px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13743_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u13744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:26px;
}
#u13744 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:186px;
  width:118px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13744_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13745 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:186px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13745_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13746 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:186px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13746_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13747 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:186px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13747_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:26px;
}
#u13748 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:186px;
  width:118px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13748_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:26px;
}
#u13749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:211px;
  width:121px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13749_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u13750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:26px;
}
#u13750 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:211px;
  width:118px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13750_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13751 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:211px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13751_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13752 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:211px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13752_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13753 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:211px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13753_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13754 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:211px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13754_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:26px;
}
#u13755 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:236px;
  width:121px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13755_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:26px;
}
#u13756 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:236px;
  width:118px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13756_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13757 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:236px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13757_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13758 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:236px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13758_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13759 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:236px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13759_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:26px;
}
#u13760 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:236px;
  width:118px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13760_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:26px;
}
#u13761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:261px;
  width:121px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13761_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:26px;
}
#u13762 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:261px;
  width:118px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13762_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13763 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:261px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13763_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13764 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:261px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13764_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u13765 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:261px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13765_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:26px;
}
#u13766 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:261px;
  width:118px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13766_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:24px;
}
#u13767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:286px;
  width:121px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13767_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:24px;
}
#u13768 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:286px;
  width:118px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13768_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u13769 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:286px;
  width:120px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13769_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u13770 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:286px;
  width:120px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13770_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u13771 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:286px;
  width:120px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u13772 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:286px;
  width:120px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13772_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13700_ann {
  border-width:0px;
  position:absolute;
  left:840px;
  top:165px;
  width:1px;
  height:1px;
}
#u13774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u13774 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:496px;
  width:12px;
  height:12px;
}
#u13774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u13775 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:496px;
  width:12px;
  height:12px;
}
#u13775_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u13776 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:496px;
  width:12px;
  height:12px;
}
#u13776_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u13777 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:496px;
  width:12px;
  height:12px;
}
#u13777_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u13778 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:496px;
  width:12px;
  height:12px;
}
#u13778_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u13779 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:496px;
  width:12px;
  height:12px;
}
#u13779_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u13780 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:495px;
  width:15px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u13780_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u13781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u13781 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:495px;
  width:15px;
  height:15px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u13781_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u13782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u13782 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:495px;
  width:15px;
  height:15px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u13782_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u13783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:31px;
}
#u13783 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:121px;
  width:630px;
  height:30px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u13783_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  word-wrap:break-word;
}
