body {
  margin:0px;
  background-image:url('../../images/00__intro/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1300px 1035px;
  position:static;
  left:auto;
  width:1161px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:748px;
}
#u1655 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:141px;
  width:1024px;
  height:748px;
}
#u1655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:81px;
}
#u1656 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:141px;
  width:1024px;
  height:80px;
}
#u1656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:79px;
}
#u1657 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:811px;
  width:1024px;
  height:78px;
}
#u1657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:41px;
}
#u1658 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:830px;
  width:259px;
  height:40px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1658_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:255px;
  word-wrap:break-word;
}
#u1659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:73px;
}
#u1659 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:141px;
  width:540px;
  height:72px;
  font-family:'맑은 고딕';
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
  line-height:36px;
}
#u1659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
