body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9418_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:443px;
  height:253px;
}
#u9418 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:440px;
  height:250px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u9418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
}
#u9419 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:100px;
  height:17px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
}
#u9419_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u9420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
}
#u9420 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:90px;
  width:90px;
  height:15px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u9420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u9420_ann {
  border-width:0px;
  position:absolute;
  left:113px;
  top:86px;
  width:1px;
  height:1px;
}
#u9421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
}
#u9421 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:200px;
  width:74px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u9421_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u9422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:31px;
}
#u9422 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:44px;
  width:320px;
  height:30px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u9422_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u9423 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:121px;
  width:100px;
  height:22px;
}
#u9423_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
}
#u9423_input:disabled {
  color:grayText;
}
#u9424 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:90px;
  width:80px;
  height:16px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u9424_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u9424_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9425 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:90px;
  width:80px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u9425_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u9425_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u9426 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:125px;
  width:60px;
  height:15px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u9426_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u9427 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:121px;
  width:175px;
  height:22px;
}
#u9427_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u9428 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:150px;
  width:60px;
  height:15px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u9428_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u9429 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:150px;
  width:141px;
  height:22px;
}
#u9429_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
}
#u9430 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:200px;
  width:74px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u9430_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
