body {
  margin:0px;
  background-image:url('../../images/00__intro/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1300px 1035px;
  position:static;
  left:auto;
  width:1162px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:51px;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:838px;
  width:1024px;
  height:50px;
}
#u1181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:873px;
  width:32px;
  height:15px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u1183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:870px;
  width:47px;
  height:15px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u1184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:870px;
  width:63px;
  height:15px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u1185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:870px;
  width:89px;
  height:15px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u1186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:845px;
  width:20px;
  height:20px;
}
#u1186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:845px;
  width:20px;
  height:20px;
}
#u1187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:845px;
  width:20px;
  height:20px;
}
#u1188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:845px;
  width:20px;
  height:20px;
}
#u1189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:840px;
  width:29px;
  height:29px;
}
#u1191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:846px;
  width:20px;
  height:14px;
  font-family:'굴림';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:840px;
  width:29px;
  height:29px;
}
#u1194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:846px;
  width:20px;
  height:14px;
  font-family:'굴림';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u1197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:45px;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:201px;
  width:827px;
  height:44px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:45px;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:201px;
  width:175px;
  height:44px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:171px;
  word-wrap:break-word;
}
#u1200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:637px;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:201px;
  width:20px;
  height:636px;
  font-size:14px;
  color:#0066FF;
}
#u1200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:310px;
  width:16px;
  word-wrap:break-word;
}
#u1201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:592px;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:246px;
  width:175px;
  height:591px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u1201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:246px;
  width:175px;
  height:120px;
}
#u1202_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:120px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:120px;
}
#u1204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:41px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:40px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
  text-align:left;
}
#u1204_img.selected {
}
#u1204.selected {
}
#u1204_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:163px;
  word-wrap:break-word;
}
#u1205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:41px;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:175px;
  height:40px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
  text-align:left;
}
#u1205_img.selected {
}
#u1205.selected {
}
#u1205_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:163px;
  word-wrap:break-word;
}
#u1206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:41px;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:175px;
  height:40px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
  text-align:left;
}
#u1206_img.selected {
}
#u1206.selected {
}
#u1206_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:163px;
  word-wrap:break-word;
}
#u1207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:81px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:475px;
  width:156px;
  height:80px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u1207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:134px;
  word-wrap:break-word;
}
#u1207_ann {
  border-width:0px;
  position:absolute;
  left:298px;
  top:471px;
  width:1px;
  height:1px;
}
#u1208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:495px;
  width:43px;
  height:43px;
}
#u1208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:81px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:571px;
  width:156px;
  height:80px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u1209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:134px;
  word-wrap:break-word;
}
#u1210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:593px;
  width:38px;
  height:38px;
}
#u1210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:45px;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:793px;
  width:827px;
  height:44px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:29px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:801px;
  width:209px;
  height:28px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:205px;
  word-wrap:break-word;
}
#u1214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:31px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:246px;
  width:827px;
  height:30px;
}
#u1214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:16px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:253px;
  width:172px;
  height:15px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:21px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:299px;
  width:167px;
  height:20px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u1217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u1218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:299px;
  width:75px;
  height:19px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u1218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u1219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:299px;
  width:43px;
  height:19px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u1219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u1220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:34px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:295px;
  width:23px;
  height:33px;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#666666;
  text-align:right;
}
#u1220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u1221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  height:2px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:344px;
  width:825px;
  height:1px;
}
#u1221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:253px;
  width:115px;
  height:15px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u1223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:913px;
  top:253px;
  width:118px;
  height:15px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:21px;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:372px;
  width:167px;
  height:20px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#3366FF;
}
#u1225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u1226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:372px;
  width:75px;
  height:19px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#3366FF;
  text-align:center;
}
#u1226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u1227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:372px;
  width:43px;
  height:19px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#3366FF;
  text-align:center;
}
#u1227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u1228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:34px;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:368px;
  width:23px;
  height:33px;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#3366FF;
  text-align:right;
}
#u1228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:21px;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:446px;
  width:167px;
  height:20px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#3366FF;
}
#u1230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u1231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:457px;
  width:75px;
  height:19px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#3366FF;
  text-align:center;
}
#u1231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u1232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:457px;
  width:43px;
  height:19px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#3366FF;
  text-align:center;
}
#u1232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u1233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:34px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:453px;
  width:23px;
  height:33px;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#3366FF;
  text-align:right;
}
#u1233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:21px;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:519px;
  width:167px;
  height:20px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u1235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u1236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:519px;
  width:75px;
  height:19px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u1236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u1237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:519px;
  width:43px;
  height:19px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u1237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u1238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:34px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:515px;
  width:23px;
  height:33px;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#666666;
  text-align:right;
}
#u1238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:21px;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:592px;
  width:167px;
  height:20px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#666666;
}
#u1240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u1241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:592px;
  width:75px;
  height:19px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#666666;
  text-align:center;
}
#u1241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u1242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:592px;
  width:43px;
  height:19px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#666666;
  text-align:center;
}
#u1242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u1243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:34px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:588px;
  width:23px;
  height:33px;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#666666;
  text-align:right;
}
#u1243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:21px;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:666px;
  width:167px;
  height:20px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u1245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u1246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:666px;
  width:75px;
  height:19px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u1246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u1247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:666px;
  width:43px;
  height:19px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u1247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u1248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:34px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:662px;
  width:23px;
  height:33px;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#666666;
  text-align:right;
}
#u1248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:21px;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:739px;
  width:167px;
  height:20px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u1250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u1251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:750px;
  width:75px;
  height:19px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u1251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u1252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:750px;
  width:43px;
  height:19px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u1252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u1253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:34px;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:746px;
  width:23px;
  height:33px;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#666666;
  text-align:right;
}
#u1253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u1254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  height:2px;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:417px;
  width:825px;
  height:1px;
}
#u1254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  height:2px;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:491px;
  width:825px;
  height:1px;
}
#u1255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  height:2px;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:564px;
  width:825px;
  height:1px;
}
#u1256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  height:2px;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:638px;
  width:825px;
  height:1px;
}
#u1257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  height:2px;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:711px;
  width:825px;
  height:1px;
}
#u1258_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:22px;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:210px;
  width:150px;
  height:21px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u1260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:210px;
  width:62px;
  height:29px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
}
#u1260_img.selected {
}
#u1260.selected {
}
#u1260_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:58px;
  word-wrap:break-word;
}
#u1261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:210px;
  width:62px;
  height:29px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
}
#u1261_img.selected {
}
#u1261.selected {
}
#u1261_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:58px;
  word-wrap:break-word;
}
#u1262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:1089px;
  top:210px;
  width:62px;
  height:29px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
}
#u1262_img.selected {
}
#u1262.selected {
}
#u1262_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:58px;
  word-wrap:break-word;
}
#u1263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:1026px;
  top:210px;
  width:62px;
  height:29px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
}
#u1263_img.selected {
}
#u1263.selected {
}
#u1263_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:58px;
  word-wrap:break-word;
}
#u1265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:61px;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:140px;
  width:1024px;
  height:60px;
}
#u1265_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:160px;
  width:24px;
  height:21px;
}
#u1267_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:161px;
  width:76px;
  height:15px;
  font-family:'Malgun Gothic';
  font-weight:400;
  font-style:normal;
  color:#59B6D5;
}
#u1268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:160px;
  width:24px;
  height:21px;
}
#u1270_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:161px;
  width:50px;
  height:15px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:160px;
  width:21px;
  height:21px;
}
#u1273_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:161px;
  width:115px;
  height:15px;
  font-family:'맑은 고딕';
  font-weight:400;
  font-style:normal;
  color:#59B6D5;
}
#u1274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:160px;
  width:21px;
  height:21px;
}
#u1276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:161px;
  width:91px;
  height:15px;
  font-family:'맑은 고딕';
  font-weight:400;
  font-style:normal;
  color:#59B6D5;
}
#u1277_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:160px;
  width:21px;
  height:21px;
}
#u1279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:161px;
  width:109px;
  height:15px;
  font-family:'맑은 고딕';
  font-weight:400;
  font-style:normal;
  color:#59B6D5;
}
#u1280_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u1281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:149px;
  width:160px;
  height:30px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u1281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
