body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13818_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:423px;
  height:263px;
}
#u13818 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:420px;
  height:260px;
}
#u13818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u13819 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:150px;
  height:16px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u13819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u13820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:26px;
}
#u13820 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:230px;
  width:70px;
  height:25px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u13820_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u13821 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:385px;
  height:108px;
}
#u13822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
}
#u13822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u13822_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:84px;
  word-wrap:break-word;
}
#u13823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:22px;
}
#u13823 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:0px;
  width:103px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u13823_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:99px;
  word-wrap:break-word;
}
#u13824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
}
#u13824 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:0px;
  width:61px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u13824_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  word-wrap:break-word;
}
#u13825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
}
#u13825 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:0px;
  width:56px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u13825_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:52px;
  word-wrap:break-word;
}
#u13826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
}
#u13826 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:0px;
  width:77px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u13826_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:73px;
  word-wrap:break-word;
}
#u13827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:23px;
}
#u13827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:88px;
  height:22px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13827_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:84px;
  word-wrap:break-word;
}
#u13828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:23px;
}
#u13828 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:21px;
  width:103px;
  height:22px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13828_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  word-wrap:break-word;
}
#u13829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
}
#u13829 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:21px;
  width:61px;
  height:22px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13829_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  word-wrap:break-word;
}
#u13830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
}
#u13830 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:21px;
  width:56px;
  height:22px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13830_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u13831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u13831 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:21px;
  width:77px;
  height:22px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13831_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u13832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
}
#u13832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:43px;
  width:88px;
  height:21px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13832_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:84px;
  word-wrap:break-word;
}
#u13833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:22px;
}
#u13833 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:43px;
  width:103px;
  height:21px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13833_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  word-wrap:break-word;
}
#u13834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
}
#u13834 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:43px;
  width:61px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13834_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  word-wrap:break-word;
}
#u13835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
}
#u13835 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:43px;
  width:56px;
  height:21px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13835_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u13836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
}
#u13836 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:43px;
  width:77px;
  height:21px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13836_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u13837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:23px;
}
#u13837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:88px;
  height:22px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13837_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:84px;
  word-wrap:break-word;
}
#u13838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:23px;
}
#u13838 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:64px;
  width:103px;
  height:22px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13838_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  word-wrap:break-word;
}
#u13839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
}
#u13839 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:64px;
  width:61px;
  height:22px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13839_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  word-wrap:break-word;
}
#u13840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
}
#u13840 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:64px;
  width:56px;
  height:22px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13840_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u13841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u13841 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:64px;
  width:77px;
  height:22px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13841_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u13842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:23px;
}
#u13842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:88px;
  height:22px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13842_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:84px;
  word-wrap:break-word;
}
#u13843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:23px;
}
#u13843 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:86px;
  width:103px;
  height:22px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13843_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  word-wrap:break-word;
}
#u13844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
}
#u13844 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:86px;
  width:61px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13844_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  word-wrap:break-word;
}
#u13845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
}
#u13845 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:86px;
  width:56px;
  height:22px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13845_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u13846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u13846 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:86px;
  width:77px;
  height:22px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13846_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u13847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:16px;
}
#u13847 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:49px;
  width:400px;
  height:15px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u13847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u13848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:16px;
}
#u13848 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:194px;
  width:260px;
  height:15px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u13848_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
