body {
  margin:0px;
  background-image:url('../../images/00__intro/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1300px 1035px;
  position:static;
  left:auto;
  width:1162px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:51px;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:838px;
  width:1024px;
  height:50px;
}
#u517_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:873px;
  width:32px;
  height:15px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u518_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u519_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:870px;
  width:47px;
  height:15px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u519_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:870px;
  width:63px;
  height:15px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u520_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:870px;
  width:89px;
  height:15px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u521_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u522 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:845px;
  width:20px;
  height:20px;
}
#u522_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u523 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:845px;
  width:20px;
  height:20px;
}
#u523_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:845px;
  width:20px;
  height:20px;
}
#u524_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:845px;
  width:20px;
  height:20px;
}
#u525_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u527 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:840px;
  width:29px;
  height:29px;
}
#u527_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:846px;
  width:20px;
  height:14px;
  font-family:'굴림';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u528_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:840px;
  width:29px;
  height:29px;
}
#u530_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:846px;
  width:20px;
  height:14px;
  font-family:'굴림';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u531_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:45px;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:201px;
  width:175px;
  height:44px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u533_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:171px;
  word-wrap:break-word;
}
#u534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:637px;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:201px;
  width:20px;
  height:636px;
  font-size:14px;
  color:#0066FF;
}
#u534_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:310px;
  width:16px;
  word-wrap:break-word;
}
#u535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:592px;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:246px;
  width:175px;
  height:591px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u535_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:246px;
  width:175px;
  height:120px;
}
#u536_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:120px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u537 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:120px;
}
#u538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:41px;
}
#u538 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:40px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
  text-align:left;
}
#u538_img.selected {
}
#u538.selected {
}
#u538_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:163px;
  word-wrap:break-word;
}
#u539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:41px;
}
#u539 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:175px;
  height:40px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
  text-align:left;
}
#u539_img.selected {
}
#u539.selected {
}
#u539_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:163px;
  word-wrap:break-word;
}
#u540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:41px;
}
#u540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:175px;
  height:40px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
  text-align:left;
}
#u540_img.selected {
}
#u540.selected {
}
#u540_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:163px;
  word-wrap:break-word;
}
#u541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:22px;
}
#u541 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:255px;
  width:45px;
  height:21px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u541_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  word-wrap:break-word;
}
#u542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:22px;
}
#u542 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:295px;
  width:45px;
  height:21px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u542_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  word-wrap:break-word;
}
#u544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:61px;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:140px;
  width:1024px;
  height:60px;
}
#u544_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:149px;
  width:160px;
  height:30px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u545_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:160px;
  width:24px;
  height:21px;
}
#u547_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:161px;
  width:76px;
  height:15px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u548_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:160px;
  width:24px;
  height:21px;
}
#u550_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:161px;
  width:50px;
  height:15px;
  font-family:'맑은 고딕';
  font-weight:400;
  font-style:normal;
  color:#59B6D5;
}
#u551_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:160px;
  width:21px;
  height:21px;
}
#u553_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:161px;
  width:115px;
  height:15px;
  font-family:'맑은 고딕';
  font-weight:400;
  font-style:normal;
  color:#59B6D5;
}
#u554_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:160px;
  width:21px;
  height:21px;
}
#u556_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:161px;
  width:91px;
  height:15px;
  font-family:'맑은 고딕';
  font-weight:400;
  font-style:normal;
  color:#59B6D5;
}
#u557_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:160px;
  width:21px;
  height:21px;
}
#u559_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:161px;
  width:109px;
  height:15px;
  font-family:'맑은 고딕';
  font-weight:400;
  font-style:normal;
  color:#59B6D5;
}
#u560_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:45px;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:201px;
  width:827px;
  height:44px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u562_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:555px;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:260px;
  width:750px;
  height:554px;
}
#u563_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u563_ann {
  border-width:0px;
  position:absolute;
  left:1131px;
  top:256px;
  width:1px;
  height:1px;
}
#u564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:2px;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:381px;
  width:726px;
  height:1px;
}
#u564_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:430px;
  width:77px;
  height:19px;
  font-family:'맑은 고딕';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u565_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:390px;
  width:87px;
  height:19px;
  font-family:'맑은 고딕';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u566_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:587px;
  width:77px;
  height:19px;
  font-family:'맑은 고딕';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u567_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:508px;
  width:77px;
  height:19px;
  font-family:'맑은 고딕';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u568_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:469px;
  width:77px;
  height:19px;
  font-family:'맑은 고딕';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u569_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:2px;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:420px;
  width:726px;
  height:1px;
}
#u570_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:2px;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:459px;
  width:726px;
  height:1px;
}
#u571_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:2px;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:499px;
  width:726px;
  height:1px;
}
#u572_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:2px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:538px;
  width:726px;
  height:1px;
}
#u573_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:2px;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:656px;
  width:726px;
  height:1px;
}
#u574_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:29px;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:1061px;
  top:209px;
  width:80px;
  height:28px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u575_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:547px;
  width:87px;
  height:19px;
  font-family:'맑은 고딕';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u576_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:626px;
  width:77px;
  height:19px;
  font-family:'맑은 고딕';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u577_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:666px;
  width:77px;
  height:19px;
  font-family:'맑은 고딕';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u578_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:705px;
  width:77px;
  height:19px;
  font-family:'맑은 고딕';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u579_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:272px;
  width:57px;
  height:19px;
  font-family:'맑은 고딕';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u580_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u580_ann {
  border-width:0px;
  position:absolute;
  left:451px;
  top:268px;
  width:1px;
  height:1px;
}
#u581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:311px;
  width:87px;
  height:19px;
  font-family:'맑은 고딕';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u581_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:351px;
  width:87px;
  height:19px;
  font-family:'맑은 고딕';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u582_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:2px;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:302px;
  width:726px;
  height:1px;
}
#u583_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:2px;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:341px;
  width:726px;
  height:1px;
}
#u584_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:2px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:577px;
  width:726px;
  height:1px;
}
#u585_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:2px;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:617px;
  width:726px;
  height:1px;
}
#u586_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:2px;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:695px;
  width:726px;
  height:1px;
}
#u587_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:2px;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:735px;
  width:726px;
  height:1px;
}
#u588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:2px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:774px;
  width:726px;
  height:1px;
}
#u589_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:19px;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:352px;
  width:546px;
  height:18px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u590_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  word-wrap:break-word;
}
#u591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:265px;
  width:78px;
  height:30px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
}
#u591_img.selected {
}
#u591.selected {
}
#u591_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:265px;
  width:78px;
  height:30px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
}
#u592_img.selected {
}
#u592.selected {
}
#u592_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:307px;
  width:78px;
  height:30px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
}
#u593_img.selected {
}
#u593.selected {
}
#u593_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:307px;
  width:78px;
  height:30px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
}
#u594_img.selected {
}
#u594.selected {
}
#u594_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:19px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:390px;
  width:546px;
  height:18px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u595_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  word-wrap:break-word;
}
#u596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:425px;
  width:78px;
  height:30px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
}
#u596_img.selected {
}
#u596.selected {
}
#u596_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:425px;
  width:78px;
  height:30px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
}
#u597_img.selected {
}
#u597.selected {
}
#u597_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:425px;
  width:78px;
  height:30px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
}
#u598_img.selected {
}
#u598.selected {
}
#u598_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:27px;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:467px;
  width:196px;
  height:27px;
}
#u600_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:15px;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:474px;
  width:150px;
  height:14px;
  font-family:'굴림';
  font-weight:700;
  font-style:normal;
}
#u601_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:508px;
  width:96px;
  height:19px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u602_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:543px;
  width:78px;
  height:30px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
}
#u603_img.selected {
}
#u603.selected {
}
#u603_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:543px;
  width:78px;
  height:30px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
}
#u604_img.selected {
}
#u604.selected {
}
#u604_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:543px;
  width:78px;
  height:30px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
}
#u605_img.selected {
}
#u605.selected {
}
#u605_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:19px;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:588px;
  width:546px;
  height:18px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u606_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  word-wrap:break-word;
}
#u607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:20px;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:626px;
  width:546px;
  height:19px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u607_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  word-wrap:break-word;
}
#u608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:20px;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:665px;
  width:546px;
  height:19px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u608_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  word-wrap:break-word;
}
#u609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:20px;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:704px;
  width:160px;
  height:19px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:19px;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:704px;
  width:152px;
  height:18px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u610_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:20px;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:745px;
  width:160px;
  height:19px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u611_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:20px;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:745px;
  width:152px;
  height:19px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u612_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:27px;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:700px;
  width:196px;
  height:27px;
  font-family:'맑은 고딕';
  font-weight:400;
  font-style:normal;
}
#u614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:708px;
  width:150px;
  height:15px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
}
#u615_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:27px;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:740px;
  width:196px;
  height:27px;
  font-family:'맑은 고딕';
  font-weight:400;
  font-style:normal;
}
#u617_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:748px;
  width:150px;
  height:15px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
}
#u618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:20px;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:783px;
  width:160px;
  height:19px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u621_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:28px;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:700px;
  width:25px;
  height:25px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u622_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:14px;
  height:6px;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:712px;
  width:11px;
  height:3px;
}
#u622_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u624_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:28px;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:740px;
  width:25px;
  height:25px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u625_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:14px;
  height:6px;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:752px;
  width:11px;
  height:3px;
}
#u625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u627_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:28px;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:781px;
  width:25px;
  height:25px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u628_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:14px;
  height:6px;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:793px;
  width:11px;
  height:3px;
}
#u628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u629_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:14px;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:789px;
  width:3px;
  height:11px;
}
#u629_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:1097px;
  top:349px;
  width:25px;
  height:25px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u631_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  word-wrap:break-word;
}
#u632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:17px;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:353px;
  width:3px;
  height:17px;
}
#u632_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:29px;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:209px;
  width:70px;
  height:28px;
  font-family:'맑은 고딕';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u633_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:307px;
  width:78px;
  height:30px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
}
#u634_img.selected {
}
#u634.selected {
}
#u634_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
