body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:690px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:360px;
  height:690px;
}
#u821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:360px;
  height:25px;
}
#u823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:12px;
  width:30px;
  height:17px;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'axicon';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:12px;
  width:22px;
  height:20px;
  font-family:'axicon';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:22px;
  word-wrap:break-word;
}
#u826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'axicon';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:12px;
  width:24px;
  height:20px;
  font-family:'axicon';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:24px;
  word-wrap:break-word;
}
#u828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:35px;
  width:360px;
  height:50px;
}
#u828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'axicon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:46px;
  width:22px;
  height:28px;
  font-family:'axicon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'axicon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:45px;
  width:26px;
  height:30px;
  font-family:'axicon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:90px;
  height:17px;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:200px;
  width:40px;
  height:18px;
  font-size:12px;
  color:#666666;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:200px;
  width:218px;
  height:18px;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
#u834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:2px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:229px;
  width:344px;
  height:1px;
}
#u834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:149px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:241px;
  width:344px;
  height:149px;
}
#u835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:430px;
  width:170px;
  height:20px;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:460px;
  width:344px;
  height:220px;
}
#u837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:470px;
  width:76px;
  height:19px;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:469px;
  width:76px;
  height:22px;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:499px;
  width:139px;
  height:18px;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u841_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'axicon';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#666666;
  text-align:center;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:501px;
  width:29px;
  height:17px;
  font-family:'axicon';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#666666;
  text-align:center;
}
#u842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:2px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:526px;
  width:324px;
  height:1px;
}
#u843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  color:#CC0000;
  text-align:right;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:100px;
  width:132px;
  height:36px;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  color:#CC0000;
  text-align:right;
}
#u844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:106px;
  width:132px;
  height:24px;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:2px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:151px;
  width:344px;
  height:1px;
}
#u846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:166px;
  width:170px;
  height:20px;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:538px;
  width:76px;
  height:19px;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:537px;
  width:76px;
  height:22px;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:567px;
  width:139px;
  height:18px;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u851_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'axicon';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#666666;
  text-align:center;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:569px;
  width:29px;
  height:17px;
  font-family:'axicon';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#666666;
  text-align:center;
}
#u852_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:2px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:598px;
  width:324px;
  height:1px;
}
#u853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:611px;
  width:76px;
  height:19px;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u855_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:610px;
  width:76px;
  height:22px;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u856_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:640px;
  width:139px;
  height:18px;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u857_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'axicon';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#666666;
  text-align:center;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:642px;
  width:29px;
  height:17px;
  font-family:'axicon';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#666666;
  text-align:center;
}
#u858_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u859 {
  position:fixed;
  left:300px;
  bottom:10px;
}
#u859_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
  background-image:none;
}
#u859_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
  font-family:'axicon';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u860_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  word-wrap:break-word;
}
#u859_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
  visibility:hidden;
  background-image:none;
}
#u859_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
  font-family:'axicon';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u861_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  word-wrap:break-word;
}
#u862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:690px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:360px;
  height:690px;
  opacity:0.75;
}
#u862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:189px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(134, 134, 134, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:131px;
  width:317px;
  height:189px;
}
#u863_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:2px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:178px;
  width:290px;
  height:1px;
}
#u864_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:146px;
  width:63px;
  height:22px;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u865_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:192px;
  width:59px;
  height:20px;
  font-size:14px;
  color:#666666;
}
#u866_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:192px;
  width:39px;
  height:20px;
  font-size:14px;
  color:#666666;
}
#u867_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:192px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#666666;
}
#u868_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:2px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:249px;
  width:61px;
  height:1px;
}
#u869_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:221px;
  width:61px;
  height:25px;
}
#u870_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:222px;
  width:61px;
  height:25px;
}
#u871_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'NotoSansCJKkr-Regular', 'Noto Sans CJK KR';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:264px;
  width:139px;
  height:41px;
  color:#C9C9C9;
}
#u872_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:135px;
  word-wrap:break-word;
}
#u873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:41px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:264px;
  width:139px;
  height:41px;
  color:#FFFFFF;
}
#u873_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:135px;
  word-wrap:break-word;
}
