body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:61px;
}
#u12657 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:990px;
  height:60px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:19px;
}
#u12658 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:17px;
  width:150px;
  height:18px;
  color:#FFFFFF;
  text-align:left;
}
#u12658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u12659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u12659 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:43px;
  width:64px;
  height:15px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u12659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u12660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:16px;
}
#u12660 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:14px;
  width:456px;
  height:15px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u12660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  word-wrap:break-word;
}
#u12661 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:38px;
  width:806px;
  height:27px;
}
#u12661_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:27px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12662 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:3px;
  width:800px;
  height:21px;
}
#u12663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u12663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FEFB00;
}
#u12663_img.mouseOver {
}
#u12663.mouseOver {
}
#u12663_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u12664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u12664 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FEFB00;
}
#u12664_img.mouseOver {
}
#u12664.mouseOver {
}
#u12664_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u12665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u12665 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FEFB00;
}
#u12665_img.mouseOver {
}
#u12665.mouseOver {
}
#u12665_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u12666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u12666 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FEFB00;
}
#u12666_img.mouseOver {
}
#u12666.mouseOver {
}
#u12666_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u12667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u12667 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FEFB00;
}
#u12667_img.mouseOver {
}
#u12667.mouseOver {
}
#u12667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u12668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u12668 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FEFB00;
}
#u12668_img.mouseOver {
}
#u12668.mouseOver {
}
#u12668_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u12669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u12669 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FEFB00;
}
#u12669_img.mouseOver {
}
#u12669.mouseOver {
}
#u12669_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u12670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u12670 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:21px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FEFB00;
}
#u12670_img.mouseOver {
}
#u12670.mouseOver {
}
#u12670_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u12672 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:134px;
  width:110px;
  height:214px;
}
#u12672_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:214px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12673 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:3px;
  width:104px;
  height:208px;
}
#u12674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:29px;
}
#u12674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:28px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u12674_img.mouseOver {
}
#u12674.mouseOver {
}
#u12674_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u12675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
}
#u12675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:104px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u12675_img.mouseOver {
}
#u12675.mouseOver {
}
#u12675_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u12676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
}
#u12676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:104px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u12676_img.mouseOver {
}
#u12676.mouseOver {
}
#u12676_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u12677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
}
#u12677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:104px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u12677_img.mouseOver {
}
#u12677.mouseOver {
}
#u12677_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u12678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
}
#u12678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:104px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u12678_img.mouseOver {
}
#u12678.mouseOver {
}
#u12678_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u12679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
}
#u12679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:148px;
  width:104px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u12679_img.mouseOver {
}
#u12679.mouseOver {
}
#u12679_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u12680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
}
#u12680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:178px;
  width:104px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u12680_img.mouseOver {
}
#u12680.mouseOver {
}
#u12680_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u12681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:46px;
}
#u12681 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:80px;
  width:110px;
  height:45px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u12681_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u12682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:41px;
}
#u12682 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:100px;
  width:870px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12683 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:110px;
  width:81px;
  height:22px;
}
#u12683_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12685 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:110px;
  width:60px;
  height:22px;
}
#u12685_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
}
#u12685_input:disabled {
  color:grayText;
}
#u12686 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:110px;
  width:46px;
  height:22px;
}
#u12686_input {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
}
#u12686_input:disabled {
  color:grayText;
}
#u12687 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:110px;
  width:46px;
  height:22px;
}
#u12687_input {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
}
#u12687_input:disabled {
  color:grayText;
}
#u12688 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:110px;
  width:60px;
  height:22px;
}
#u12688_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
}
#u12688_input:disabled {
  color:grayText;
}
#u12689 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:110px;
  width:46px;
  height:22px;
}
#u12689_input {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
}
#u12689_input:disabled {
  color:grayText;
}
#u12690 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:110px;
  width:46px;
  height:22px;
}
#u12690_input {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
}
#u12690_input:disabled {
  color:grayText;
}
#u12691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:16px;
}
#u12691 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:80px;
  width:320px;
  height:15px;
  font-family:'Helvetica';
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u12691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u12692 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:316px;
  width:868px;
  height:60px;
}
#u12693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u12693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12693_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u12694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:31px;
}
#u12694 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:0px;
  width:106px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12694_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u12695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:31px;
}
#u12695 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:0px;
  width:106px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12695_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u12696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:31px;
}
#u12696 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:0px;
  width:98px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12696_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u12697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
}
#u12697 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:0px;
  width:104px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12697_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u12698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:31px;
}
#u12698 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:0px;
  width:98px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12698_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u12699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:31px;
}
#u12699 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:0px;
  width:114px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12699_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
#u12700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:31px;
}
#u12700 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:0px;
  width:143px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12700_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:139px;
  word-wrap:break-word;
}
#u12701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u12701 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:99px;
  height:30px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12701_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u12702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:31px;
}
#u12702 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:30px;
  width:106px;
  height:30px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12702_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u12703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:31px;
}
#u12703 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:30px;
  width:106px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12703_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u12704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:31px;
}
#u12704 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:30px;
  width:98px;
  height:30px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12704_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u12705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
}
#u12705 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:30px;
  width:104px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:31px;
}
#u12706 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:30px;
  width:98px;
  height:30px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12706_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u12707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:31px;
}
#u12707 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:30px;
  width:114px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:31px;
}
#u12708 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:30px;
  width:143px;
  height:30px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12708_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:139px;
  word-wrap:break-word;
}
#u12709 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:213px;
  width:662px;
  height:60px;
}
#u12710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u12710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12710_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u12711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u12711 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:0px;
  width:119px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12711_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:115px;
  word-wrap:break-word;
}
#u12712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:31px;
}
#u12712 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:0px;
  width:121px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12712_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u12713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:31px;
}
#u12713 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:0px;
  width:135px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12713_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  word-wrap:break-word;
}
#u12714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:31px;
}
#u12714 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:0px;
  width:171px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12714_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u12715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u12715 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:116px;
  height:30px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12715_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u12716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u12716 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:30px;
  width:119px;
  height:30px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12716_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:115px;
  word-wrap:break-word;
}
#u12717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:31px;
}
#u12717 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:30px;
  width:121px;
  height:30px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12717_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u12718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:31px;
}
#u12718 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:30px;
  width:135px;
  height:30px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12718_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  word-wrap:break-word;
}
#u12719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:31px;
}
#u12719 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:30px;
  width:171px;
  height:30px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12719_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u12720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:31px;
}
#u12720 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:172px;
  width:707px;
  height:30px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u12720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  word-wrap:break-word;
}
#u12721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:16px;
}
#u12721 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:150px;
  width:187px;
  height:15px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u12721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u12722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:16px;
}
#u12722 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:296px;
  width:187px;
  height:15px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u12722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u12723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:16px;
}
#u12723 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:398px;
  width:187px;
  height:15px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u12723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u12724 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:420px;
  width:866px;
  height:66px;
}
#u12725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:37px;
}
#u12725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12725_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u12726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:37px;
}
#u12726 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:0px;
  width:124px;
  height:36px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12726_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u12727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:37px;
}
#u12727 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:0px;
  width:106px;
  height:36px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12727_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u12728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:37px;
}
#u12728 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:0px;
  width:132px;
  height:36px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12728_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u12729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:37px;
}
#u12729 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:0px;
  width:146px;
  height:36px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12729_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:142px;
  word-wrap:break-word;
}
#u12730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
}
#u12730 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:0px;
  width:114px;
  height:36px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12730_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u12731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:37px;
}
#u12731 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:0px;
  width:122px;
  height:36px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12731_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u12732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:31px;
}
#u12732 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:122px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12732_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u12733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:31px;
}
#u12733 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:36px;
  width:124px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12733_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u12734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:31px;
}
#u12734 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:36px;
  width:106px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12734_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u12735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:31px;
}
#u12735 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:36px;
  width:132px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12735_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u12736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:31px;
}
#u12736 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:36px;
  width:146px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12736_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:142px;
  word-wrap:break-word;
}
#u12737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:31px;
}
#u12737 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:36px;
  width:114px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12737_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
#u12738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:31px;
}
#u12738 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:36px;
  width:122px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12738_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
