body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1060px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:21px;
}
#u6791 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:810px;
  height:20px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u6791_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  word-wrap:break-word;
}
#u6792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:221px;
}
#u6792 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:198px;
  width:429px;
  height:220px;
  font-size:12px;
  line-height:20px;
}
#u6792_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  word-wrap:break-word;
}
#u6793 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:445px;
  width:150px;
  height:25px;
}
#u6793_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:117px;
}
#u6794 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:50px;
  width:597px;
  height:117px;
}
#u6794_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:474px;
}
#u6795 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:167px;
  width:596px;
  height:473px;
}
#u6795_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:16px;
}
#u6796 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:177px;
  width:360px;
  height:15px;
  font-family:'AppleSymbols', 'Apple Symbols';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u6796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u6797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u6797 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:204px;
  width:85px;
  height:15px;
  font-size:12px;
}
#u6797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u6798 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:198px;
  width:460px;
  height:23px;
}
#u6798_input {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:23px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u6799 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:250px;
  width:75px;
  height:15px;
  font-size:12px;
}
#u6799_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u6800 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:274px;
  width:565px;
  height:106px;
}
#u6800_input {
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  height:106px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u6801 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:400px;
  width:75px;
  height:15px;
  font-size:12px;
}
#u6801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u6802 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:424px;
  width:565px;
  height:206px;
}
#u6802_input {
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  height:206px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:21px;
}
#u6803 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:670px;
  width:810px;
  height:20px;
  font-family:'Malgun Gothic';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u6803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  word-wrap:break-word;
}
#u6804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:606px;
}
#u6804 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:720px;
  width:376px;
  height:606px;
}
#u6804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
}
#u6805 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1270px;
  width:70px;
  height:20px;
  font-size:12px;
  color:#FF0000;
  text-align:right;
  line-height:20px;
}
#u6805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u6806 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1270px;
  width:270px;
  height:50px;
}
#u6806_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:50px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:41px;
}
#u6807 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1086px;
  width:70px;
  height:40px;
  font-size:12px;
  color:#FF0000;
  text-align:right;
  line-height:20px;
}
#u6807_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u6808_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:73px;
  height:5px;
}
#u6808 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1077px;
  width:70px;
  height:2px;
}
#u6808_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6809 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:825px;
  width:150px;
  height:25px;
}
#u6809_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
}
#u6810 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1210px;
  width:70px;
  height:20px;
  font-size:12px;
  color:#FF0000;
  text-align:right;
  line-height:20px;
}
#u6810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u6811 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1210px;
  width:80px;
  height:22px;
}
#u6811_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u6811_input:disabled {
  color:grayText;
}
#u6812 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:1210px;
  width:80px;
  height:22px;
}
#u6812_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u6812_input:disabled {
  color:grayText;
}
#u6813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6813 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:1210px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#000000;
  text-align:center;
  line-height:20px;
}
#u6813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u6814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
}
#u6814 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1240px;
  width:70px;
  height:20px;
  font-size:12px;
  color:#FF0000;
  text-align:right;
  line-height:20px;
}
#u6814_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u6815 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1237px;
  width:270px;
  height:23px;
}
#u6815_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:23px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
}
#u6816 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1336px;
  width:70px;
  height:20px;
  font-size:12px;
  color:#FF0000;
  text-align:right;
  line-height:20px;
}
#u6816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u6817 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1333px;
  width:270px;
  height:23px;
}
#u6817_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:23px;
  font-family:'Gulim';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
}
#u6818 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:802px;
  width:42px;
  height:20px;
  font-size:12px;
  color:#FF0000;
  text-align:right;
  line-height:20px;
}
#u6818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u6819 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:802px;
  width:70px;
  height:22px;
}
#u6819_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6819_input:disabled {
  color:grayText;
}
